﻿@model Entidades.NOTIFICACION

@{
    List<Entidades.NOTIFICACION> ListaNotificacion = ViewBag.ListaNotificacion;
}

@{
    foreach (Entidades.NOTIFICACION notificacion in ListaNotificacion)
    {
        switch (notificacion.TIPO_NOTIFICACION)
        {
            case "0"://ErrorDeve
                <div class="alert alert-danger alert-dismissible" id="my-alert">
                    @*<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>*@
                    <strong id="Alerta" class="textoAlarma">
                        @notificacion.ID_NOTIFICACION. [@notificacion.FECHA] @notificacion.MENSAJE.ToString()
                    </strong>
                </div>
                break;
            case "1"://Info
                <div class="alert alert-info alert-dismissible" id="my-alert">
                   @* <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>*@
                    <strong id="Alerta" class="textoAlarma">
                        @*@notificacion.ID_NOTIFICACION. [@notificacion.FECHA] @notificacion.MENSAJE.ToString()*@
                       @notificacion.MENSAJE.ToString()
                    </strong>
                </div>
                break;
            case "2"://Lectura Tag
                <div class="alert alert-warning alert-dismissible" id="my-alert">
                    @*<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>*@
                    <strong id="Alerta" class="textoAlarma">
                        @*@notificacion.ID_NOTIFICACION. [@notificacion.FECHA] @notificacion.MENSAJE.ToString()*@
                       @notificacion.MENSAJE.ToString()
                    </strong>
                </div>
                break;
            case "3"://Suceso
                <div class="alert alert-success alert-dismissible" id="my-alert">
                    @*<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>*@
                    <strong id="Alerta" class="textoAlarma">
                       @notificacion.MENSAJE.ToString()
                    </strong>
                </div>
                break;
            case "4"://ErrorUser
                <div class="alert alert-danger alert-dismissible" id="my-alert">
                    @*<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>*@
                    <strong id="Alerta" class="textoAlarma">
                         @notificacion.MENSAJE.ToString()
                    </strong>
                </div>
                break;
        }
    }

}
<script>
    @*$(document).ready(function () {
        $(".alert").bind('closed.bs.alert', function () {
            var text = $(this).text();
            text = text.trim();
            text = text.substring(1, text.indexOf('.'));
            var url = "@Url.Action("fnEliminarNotificacion", "Notificaciones", new { idNotificacion = "-1" })";
            url = url.replace("-1", text);
            $.get(url, function (data) {
            });
        });
    });*@
</script>