﻿@model IEnumerable<Entidades.NOTIFICACION>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Entidades.CONTROL_ACCESO> ListControlesAcceso = ViewBag.ListControlesAcceso;
}

<h2>Notificaciones</h2>
<link href="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.js" rel="stylesheet" />
<script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>
<div class="table-responsive">
    <table class="table table-bordered" id="tableNotif" style="width:auto" cellspacing="0">
        <thead>
            <tr class="text-center">
                <th>
                    @Html.DisplayNameFor(model => model.FECHA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MENSAJE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TAG)
                </th>
                <th>
                    TIPO DE NOTIFICACIÓN
                </th>
                <th>
                    CONTROL DE ACCESO
                </th>
                <th>
                    SECTOR
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FECHA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MENSAJE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TAG)
                    </td>
                    <td>
                        @{
                            switch (item.TIPO_NOTIFICACION)
                            {
                                case "0":
                                    <div>
                                        Error Programador
                                    </div>
                                    break;
                                case "1":
                                    <div>
                                        Información
                                    </div>
                                    break;
                                case "2":
                                    <div>
                                        Lectura de TAG RFID
                                    </div>
                                    break;
                                case "3":
                                    <div>
                                        Suceso
                                    </div>
                                    break;
                                case "4":
                                    <div>
                                        Error Usuario
                                    </div>
                                    break;

                            }
                        }
                    </td>
                    <td>

                        @{
                            string nombreControl = ListControlesAcceso.Where(a => a.ID_CONTROL_ACCESO == item.ID_CONTROL_ACCESO).Select(a => a.NOMBRE).SingleOrDefault();
                            <div>
                                @Html.Raw(nombreControl)
                            </div>
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SECTOR.NOMBRE)
                    </td>


                </tr>
                            }
        </tbody>
    </table>

    <script type="text/javascript"> 

        $(document).ready(function () {
            $('#tableNotif').DataTable({
            });
        });

    </script>
</div>
