﻿@model Entidades.ANTENAS_RFID

@{
    ViewBag.Title = "Editar Antenas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="border rounded" style="padding:5px;background-color:whitesmoke">
    <h2>Configurar</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NUM_ANTENA)
            @Html.HiddenFor(model => model.ID_CONF_LECTOR_RFID)
            @Html.HiddenFor(model => model.ID_SECTOR)

            <div class="form-group">
                <label class="control-label col-md-2">Tx Power</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TX_POWER, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TX_POWER, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Rx Sensitivity</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RX_SENSITIVITY, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RX_SENSITIVITY, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Observación</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OBSERVACION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OBSERVACION, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
    <br />
    <div class="row text-center" style="display:block">
        <button class="btn btn-lg btn-dark text-center" id="" onclick="window.history.go(-1);">Volver</button>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
