﻿@{
    Entidades.CARTEL_MULTILED oCartel = ViewBag.oCartel;
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6 text-left">
                                Cartel MultiLED
                            </div>
                            <div class="text-right col-6">
                                <button class="btn btn-primary" id="@(oCartel.ID_CARTEL.ToString() + "btnConfig")" onclick="location.href='@Url.Action("ConfigCartelMultiLED", "CARTEL_MULTILED", new { idCartel = oCartel.ID_CARTEL })';return false;">
                                    <i class="fa fa-fw fa-gear"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="text-center">
                            <div id="mensajeCartel">
                                @{
                                    switch (oCartel.PASO_ACTUAL)
                                    {
                                        case (int)Entidades.Constante.PasosCartelMultiled.SistemaDetenido:
                                            <b>
                                                SISTEMA DETENIDO
                                            </b>
                                            break;
                                        case (int)Entidades.Constante.PasosCartelMultiled.TextoFijoPorDefecto:
                                            <b>
                                                ACA TIMBUES
                                            </b>
                                            break;
                                        case (int)Entidades.Constante.PasosCartelMultiled.TextoFijoAVANCE:
                                            <b>
                                                AVANCE
                                            </b>
                                            break;
                                        case (int)Entidades.Constante.PasosCartelMultiled.TextoFijoRETROCEDA:
                                            <b>
                                                RETROCEDA
                                            </b>
                                            break;
                                        case (int)Entidades.Constante.PasosCartelMultiled.TextoFijoESPERE:
                                            <b>
                                                ESPERE
                                            </b>
                                            break;
                                        case (int)Entidades.Constante.PasosCartelMultiled.TextoVariable:
                                            <b>
                                                @oCartel.MENSAJE_ACTUAL
                                            </b>
                                            break;
                                        case (int)Entidades.Constante.PasosCartelMultiled.TextoFijoFUERADESERVICIO:
                                            <b>
                                                FUERA DE SERVICIO
                                            </b>
                                            break;
                                    }
                                }
                            </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>