﻿@model Entidades.CARTEL_MULTILED
@{
    ViewBag.Title = "ConfigCartelMultiLED";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/Comandos.js"></script>
<div class="border rounded text-center" style="padding:5px;background-color:whitesmoke">
    <h2>Cartel MultiLED @Model.DESCRIPCION</h2>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-outline-dark btn-lg" onclick="GenerarComandoCartel('1','@Model.ID_CARTEL',' ');">ACA TIMBUES</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-outline-success btn-lg" onclick="GenerarComandoCartel('2','@Model.ID_CARTEL',' ');">AVANCE</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-outline-danger btn-lg" onclick="GenerarComandoCartel('3','@Model.ID_CARTEL',' ');">RETROCEDA</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-outline-warning btn-lg" onclick="GenerarComandoCartel('4','@Model.ID_CARTEL',' ');">ESPERE</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-danger btn-lg" onclick="GenerarComandoCartel('7','@Model.ID_CARTEL',' ');">PARE</button>
            </div>
        </div>
    </div>
    <hr />
    <form>
        <div class="row" style="align-items:center">
            <div class="col" style="text-align:right">
                <label class="col-form-label-lg">Texto personalizado: </label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="textoMensajeCartel">
            </div>
            <div class="col" style="text-align:left">
                <button type="button" class="btn btn-primary btn-lg" onclick="GenerarComandoCartel('5','@Model.ID_CARTEL',document.getElementById('textoMensajeCartel').value);">Escribir</button>
            </div>
        </div>
    </form>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ID_CARTEL)
        @Html.HiddenFor(model => model.DESCRIPCION)
        @Html.HiddenFor(model => model.ID_CONTROL_ACCESO)
        @Html.HiddenFor(model => model.TAG)
        <div class="">
            <div id="Config" class="text-center">
                <label class="col-form-label-lg">IP: </label>
                @Html.EditorFor(model => model.IP, new { htmlAttributes = new { @class = "mx-auto input-sm text-center form-control w-25", @style = "text-align:center;padding:0px;" } })
                <label class="col-form-label-lg">Puerto: </label>
                @Html.EditorFor(model => model.PORT, new { htmlAttributes = new { @class = "mx-auto input-sm text-center form-control w-25", @style = "text-align:center;padding:0px;", @type = "number" } })
                <label class="col-form-label-lg">Mensaje por defecto: </label>
                @Html.EditorFor(model => model.MSJ_POR_DEFECTO, new { htmlAttributes = new { @class = "mx-auto input-sm text-center form-control w-25", @style = "text-align:center;padding:0px;" } })
                <br />
                <button class="btn btn-lg btn-dark text-center" id="btnCambioTiempoRetardoSENSOR" type="submit" onclick="window.history.go(-1);">Guardar Config.</button>
            </div>
        </div>
    }
</div>


<script>
    window.onload = function sum() {
        document.getElementById("accordionSidebar").className = "navbar-nav bg-aumax sidebar sidebar-dark accordion toggled";
    };

    function GenerarComandoCartel(idComando, idSector, mensaje) {
        var url = "@Html.Raw(Url.Action("GenerarComandoCartel", "Comandos", new { idComando="-1", idSector ="-2", mensaje="-3"}))";
        url = url.replace("-1", idComando);
        url = url.replace("-2", idSector);
        url = url.replace("-3", mensaje);
        $.get(url, function (data) { });
    };
</script>
