﻿
@{
    ViewBag.Title = "Ayuda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ayuda</h2>


            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="text-center" style="font-size:xx-large">
                                Sensores
                            </div>
                            <div class="font-weight-normal">
                                <div>
                                    <button type="button" class="btn btn-dark">SENSOR</button> Deshab.
                                </div>
                                <br />
                                <div>
                                    <button type="button" class="btn btn-danger">SENSOR</button> Con presencia.
                                </div>
                                <br />
                                <div>
                                    <button type="button" class="btn btn-success">SENSOR</button> Sin presencia.
                                </div>
                                <br />
                                <div>
                                    <button type="button" class="btn btn-warning">SENSOR</button> Falla.
                                </div>
                            </div>

                        </div>
                        <div class="col-sm">
                            <div class="text-center" style="font-size:xx-large">
                                Barreras
                            </div>
                            <div class="font-weight-normal">
                                <div>
                                    <button type="button" class="btn btn-dark">BARRERA</button> Deshab.
                                </div>
                                <br />
                                <div>
                                    <button type="button" class="btn btn-primary">BARRERA</button> Autom.
                                </div>
                                <br />
                                <div>
                                    <button type="button" class="btn btn-success">BARRERA</button> Manual.
                                </div>
                                <br />
                                <div>
                                    <button type="button" class="btn btn-warning">BARRERA</button> Falla.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
