﻿@model Entidades.DATO_WORDINT

@{
    ViewBag.Title = "Barrera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Barrera</h2>
<script src="~/Scripts/Comandos.js"></script>
<div class="">
    <div class="text-center">
        <div id="EstadoBarrera1" style="font-size:xx-large">
            Sector: @Model.ID_SECTOR
            -
            PLC: @Model.FK_PLC
        </div>
        <hr />
        <div id="ComandosBarrera1"style="font-size:xx-large">
            <b>
                Comandos
            </b>
            <br />
            <br />
            <div id="btnComandoBarrera1">
                <div id="btnAutDes">
                    <button type="button" class="btn btn-lg btn-success" id="btnAutomatico:" onclick="EjecutarComando('@Model.ID_SECTOR',2,'BARRERA.Comando')">
                        Automático
                    </button>
                    <button type="button" class="btn btn-lg btn-danger" id="btnDeshabilitar:" onclick="EjecutarComando('@Model.ID_SECTOR',1,'BARRERA.Comando')">
                        Deshabilitar
                    </button>
                </div>
                <br />
                <div id="btnSubirBajar1">
                    <button type="button" class="btn btn-lg btn-outline-dark" id="btnSubirBarrera:" onclick="EjecutarComando('@Model.ID_SECTOR',3,'BARRERA.Comando')">
                        <i class="fa fa-fw fa-arrow-up"></i>
                    </button>
                    <button type="button" class="btn btn-lg btn-outline-dark" id="btnBajarBarrera:" onclick="EjecutarComando('@Model.ID_SECTOR',4,'BARRERA.Comando')">
                        <i class="fa fa-fw fa-arrow-down"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="TiempoRetardo" class="text-center" style="font-size:xx-large">
            <label class="label" style="font-size:xx-large">Tiempo de retardo: </label>
            <input type="number" style="font-size:xx-large" class="input-sm text-center" id="TiempoRetardoSENSOR" maxlength="9" value="@ViewBag.Sensor"/>
            <br />
             
            <button class="btn btn-lg btn-dark text-center" id="btnCambioTiempoRetardoSENSOR" onclick="EjecutarComando('@Model.ID_SECTOR',document.getElementById('TiempoRetardoSENSOR').value,'S_BARRERA.TiempoRet')">Aceptar</button>
        </div>
</div> 