﻿@{ 
    bool EstadoControl = ViewBag.EstadoControl;
    int BitVidaActual = ViewBag.BitVidaActual;
}

@{
    if (EstadoControl)
    {
        <i class="far fa-play-circle" style="color:forestgreen"></i>
    }
    else
    {
        <i class="far fa-stop-circle" style="color:tomato" onclick="alert('El servicio está detenido, comprobar que el mismo se esté ejecutando.')"></i>
    }
}