﻿
@{
    ViewBag.Title = "CabezalBalanza";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Entidades.SECTOR_BALANZA_UNIDIRECCIONAL oBalanza = ViewBag.oBalanza;
    int ValorComandoDeshabilitar = (int)Entidades.Constante.BalanzaComando.Deshabilitar;
    int ValorComandoHabilitar = (int)Entidades.Constante.BalanzaComando.Habilitar;
    int ValorComandoReset = (int)Entidades.Constante.BalanzaComando.Reset;
    Entidades.SECTOR oSector = ViewBag.oSector;
}

<script src="~/Scripts/Comandos.js"></script>
<div class="border rounded" style="padding:5px;background-color:whitesmoke">
    <h3 class="text-center">@oBalanza.Descripcion</h3>
    <hr />
    <form class="">
        <div id="ComandosBalanza" class="text-center">
            <h4 class="">
                <b>
                    Comandos
                </b>
            </h4>
            <div id="btnComandoBarrera">
                <button type="button" class="btn btn-lg btn-danger" onclick="DeshabilitarComando()">
                    Deshabilitar
                </button>
                <button type="button" class="btn btn-lg btn-success" onclick="HabilitarComando()">
                    Habilitar
                </button>
                <button type="button" class="btn btn-lg btn-outline-dark" onclick="ResetComando()">
                    Reset
                </button>
            </div>
        </div>
        <hr />
        <div class="text-center">
            <label class="label">Peso Máximo (TN)</label>
            <input style="text-align:center;padding:0px;" class="mx-auto input-sm text-center form-control w-25" type="number" id="pesoMaxBalanza" value="@oBalanza.PesoMax.VALOR" />
            <hr width="25%">
            <label class="label">Diferencia de estabilidad (Kg)</label>
            <input class="mx-auto input-sm text-center form-control w-25" type="number" id="difEstBalanza" value="@oBalanza.DiferenciaEstabilidad.VALOR" />
            <hr width="25%">
            <label class="label">Tiempo de espera de estabilidad (Seg)</label>
            <input class="mx-auto input-sm text-center form-control w-25" type="number" id="tiempoEspEstabBalanza" value="@oBalanza.TiempoEstabilidad.VALOR" />
            <hr />
            <br />
            <button class="btn btn-dark text-center" id="btnAceptarBalanza" onclick="GuardarComandos()" type="button">Aceptar</button>
            <button class="btn btn-dark text-center" id="btnAceptarBalanza" type="button" onclick="window.history.go(-1);">Volver</button>
            <br />
        </div>
    </form>

</div>

<script>
    window.onload = function sum() {
        document.getElementById("accordionSidebar").className = "navbar-nav bg-aumax sidebar sidebar-dark accordion toggled";
    };

    function GuardarComandos() {
        EjecutarComando('@oBalanza.ID_SECTOR', document.getElementById("pesoMaxBalanza").value, '@oBalanza.PesoMax.TAG');
        EjecutarComando('@oBalanza.ID_SECTOR', document.getElementById("difEstBalanza").value, '@oBalanza.DiferenciaEstabilidad.TAG');
        EjecutarComando('@oBalanza.ID_SECTOR', document.getElementById("tiempoEspEstabBalanza").value, '@oBalanza.TiempoEstabilidad.TAG');
        fnGuardarNotificacion(@oSector.ID_SECTOR,@oSector.CONTROL_ACCESO.ID_CONTROL_ACCESO,'@oBalanza.Descripcion - Se cambió config. de balanza (Peso Max./Dif. Estabilidad/Tiempo espera estabilidad.).',@(Convert.ToString((int)Entidades.Constante.TipoNotificacion.Informacion)));
        
    };

    function DeshabilitarComando() {
        EjecutarComando('@oBalanza.ID_SECTOR', '@ValorComandoDeshabilitar', '@oBalanza.Comando.TAG');
        fnGuardarNotificacion(@oSector.ID_SECTOR,@oSector.CONTROL_ACCESO.ID_CONTROL_ACCESO,'@oBalanza.Descripcion - Se deshabilitó balanza.',@(Convert.ToString((int)Entidades.Constante.TipoNotificacion.Informacion)));
        };

    function HabilitarComando() {
        EjecutarComando('@oBalanza.ID_SECTOR', '@ValorComandoHabilitar', '@oBalanza.Comando.TAG');
        fnGuardarNotificacion(@oSector.ID_SECTOR,@oSector.CONTROL_ACCESO.ID_CONTROL_ACCESO,'@oBalanza.Descripcion - Se habilitó balanza.',@(Convert.ToString((int)Entidades.Constante.TipoNotificacion.Informacion)));
        };

    function ResetComando(){
        EjecutarComando('@oBalanza.ID_SECTOR', '@ValorComandoReset', '@oBalanza.Comando.TAG');
        fnGuardarNotificacion(@oSector.ID_SECTOR,@oSector.CONTROL_ACCESO.ID_CONTROL_ACCESO,'@oBalanza.Descripcion - Se reinició balanza.',@(Convert.ToString((int)Entidades.Constante.TipoNotificacion.Informacion)));
        };

</script>