﻿@{
    ViewBag.Title = "Barrera";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Entidades.Barrera oBarrera = ViewBag.oBarrera;
    Entidades.SECTOR oSector = ViewBag.oSector;
}

<script src="~/Scripts/Comandos.js"></script>
<div class="border rounded" style="padding:5px;background-color:whitesmoke">
    <h2 class="text-center">
        <button class="btn btn-dark float-right" data-toggle="modal" data-target="#ayudaModal">
            <i style="font-size:2rem;" class="fa fa-question-circle"></i>
        </button>
        @oSector.NOMBRE - @oBarrera.Descripcion
    </h2>
    <hr />
    <div class="text-center">
        <div style="font-size:xx-large">
            Sector: @oBarrera.Estado.ID_SECTOR
        </div>
        <div id="EstadoBarrera" style="font-size:xx-large">
            
            @switch (oBarrera.Estado.VALOR)
            {
                case 0:
                    <div>
                        Estado: INDEFINIDO/FALLA
                    </div>
                    break;
                case 1:
                    <div>
                        Estado: ARRIBA AUTOMÁTICO
                    </div>
                    break;
                case 2:
                    <div>
                        Estado: ABAJO AUTOMÁTICO
                    </div>
                    break;
                case 3:
                    <div>
                        Estado: ARRIBA MANUAL
                    </div>
                    break;
                case 4:
                    <div>
                        Estado: ABAJO MANUAL
                    </div>
                    break;
                case 5:
                    <div>
                        Estado: FALLA
                    </div>
                    break;
            }            
        </div>
        <hr />
        <div id="ComandosBarrera1" style="font-size:xx-large">
            <b>
                Comandos
            </b>
            <br />
            <div id="btnComandoBarrera1">
                <div id="btnAutDes">
                    <button type="button" class="btn btn-lg btn-success" id="btnAutomatico:" onclick="EjecutarComando('@oBarrera.Estado.ID_SECTOR',@((int)Entidades.Constante.BarreraComando.Automatico),'@oBarrera.Comando.TAG');fnGuardarNotificacion(@oSector.ID_SECTOR,@oSector.CONTROL_ACCESO.ID_CONTROL_ACCESO,'@oBarrera.Descripcion - Se estableció barrera en automático.',@(Convert.ToString((int)Entidades.Constante.TipoNotificacion.Informacion)));">
                        Automático
                    </button>
                    <button type="button" class="btn btn-lg btn-danger" id="btnDeshabilitar:" onclick="EjecutarComando('@oBarrera.Estado.ID_SECTOR',@((int)Entidades.Constante.BarreraComando.Deshabilitar),'@oBarrera.Comando.TAG');fnGuardarNotificacion(@oSector.ID_SECTOR,@oSector.CONTROL_ACCESO.ID_CONTROL_ACCESO,'@oBarrera.Descripcion - Se deshabilitó la barrera.',@(Convert.ToString((int)Entidades.Constante.TipoNotificacion.Informacion)));">
                        Deshabilitar
                    </button>
                </div>
                <br />
                <div id="btnSubirBajar1" class="border rounded border-warning" style="padding-bottom:10px;border-width:3px !important;width:150px;margin:0px;display:inline-block">
                    <h6>
                        MANUAL
                    </h6>                       
                    <button type="button" class="btn btn-lg btn-outline-dark" id="btnSubirBarrera:" onclick="EjecutarComando('@oBarrera.Estado.ID_SECTOR',@((int)Entidades.Constante.BarreraComando.SubirManual),'@oBarrera.Comando.TAG');fnGuardarNotificacion(@oSector.ID_SECTOR,@oSector.CONTROL_ACCESO.ID_CONTROL_ACCESO,'@oBarrera.Descripcion - Se solicitó subir barrera manualmente.',@(Convert.ToString((int)Entidades.Constante.TipoNotificacion.Informacion)));">                          
                        <i class="fa fa-fw fa-arrow-up"></i>                        
                    </button>                        
                    <button type="button" class="btn btn-lg btn-outline-dark" id="btnBajarBarrera:" onclick="EjecutarComando('@oBarrera.Estado.ID_SECTOR',@((int)Entidades.Constante.BarreraComando.BajarManual),'@oBarrera.Comando.TAG');fnGuardarNotificacion(@oSector.ID_SECTOR,@oSector.CONTROL_ACCESO.ID_CONTROL_ACCESO,'@oBarrera.Descripcion - Se solicitó bajar barrera manualmente.',@(Convert.ToString((int)Entidades.Constante.TipoNotificacion.Informacion)));">
                        <i class="fa fa-fw fa-arrow-down"></i>
                    </button>
                    <br />
                </div>
            </div>
        </div>
        <hr />
        <div id="botonesHabilitacion">
            <b style="font-size:x-large">
                Sensor de posición
            </b>
            <br />
            <br />
            <button type="button" class="btn btn-lg btn-success" id="btnHabilitar:" onclick="EjecutarComando('@oBarrera.Estado.ID_SECTOR',1,'@oBarrera.HabSenPosicion.TAG');fnGuardarNotificacion(@oSector.ID_SECTOR,@oSector.CONTROL_ACCESO.ID_CONTROL_ACCESO,'@oBarrera.Descripcion - Se habilitó sensor de posición de barrera.',@(Convert.ToString((int)Entidades.Constante.TipoNotificacion.Informacion)));">
                Habilitar
            </button>
            <button type="button" class="btn btn-lg btn-danger" id="btnDeshabilitar:" onclick="EjecutarComando('@oBarrera.Estado.ID_SECTOR',0,'@oBarrera.HabSenPosicion.TAG');fnGuardarNotificacion(@oSector.ID_SECTOR,@oSector.CONTROL_ACCESO.ID_CONTROL_ACCESO,'@oBarrera.Descripcion - Se deshabilitó sensor de posición de barrera.',@(Convert.ToString((int)Entidades.Constante.TipoNotificacion.Informacion)));">
                Deshabilitar
            </button>
        </div>
    </div>
    <hr />
    <div class="text-center" style="font-size:xx-large">        
        <text class="float-left">
            PLC: @oBarrera.Estado.FK_PLC
        </text>
        <br />
        <button class="btn btn-lg btn-dark text-center" id="" onclick="window.history.go(-1);">Volver</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ayudaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">AYUDA BARRERA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <p>BARRERA ABIERTA</p>
                        <img  height="250" src="~/Content/img/Controles/Barrera/1.png" />
                    </div>
                    <div class="col-md-2">
                        <p>BARRERA CERRADA</p>
                        <img height="250" src="~/Content/img/Controles/Barrera/2.png" />
                    </div>
                    <div class="col-md-3">
                        <p>BARRERA EN FALLA</p>
                        <img height="250" src="~/Content/img/Controles/Barrera/5.png" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function sum() {
        document.getElementById("accordionSidebar").className = "navbar-nav bg-aumax sidebar sidebar-dark accordion toggled";
        setInterval(function () {
            fnActualizarEstadoDispositivo();
        }, 1000);
    };

    function fnActualizarEstadoDispositivo() {
        var idSector = '@oBarrera.Comando.ID_SECTOR';
        var tagEstado = '@oBarrera.Estado.TAG';
        var url = "@Html.Raw(Url.Action("GetJsonEstadoDispositivo", "ControlAcceso", new { idSector = "-1", tag = "-2" }))";
        url = url.replace("-1", idSector);
        url = url.replace("-2", tagEstado);
        $.get(url, function (data) {
            var jsonEstado = JSON.parse(data);
            var strEstado;
            switch (jsonEstado) {
                case 0: //Estado: INDEFINIDO/FALLA
                    strEstado = 'Estado: INDEFINIDO/FALLA';
                    break;
                case 1: //Estado: ARRIBA AUTOMÁTICO
                    strEstado = 'Estado: ARRIBA AUTOMÁTICO';
                    break;
                case 2: //Estado: ABAJO AUTOMÁTICO
                    strEstado = 'Estado: ABAJO AUTOMÁTICO';
                    break;
                case 3://Estado: ARRIBA MANUAL
                    strEstado = 'Estado: ARRIBA MANUAL';
                    break;
                case 4://Estado: ABAJO MANUAL
                    strEstado = 'Estado: ABAJO MANUAL';
                    break;
                case 5://Estado: FALLA
                    strEstado = 'Estado: FALLA';
                    break;
            }
            document.getElementById('EstadoBarrera').innerHTML = strEstado;
        });
    };

</script>