﻿
@{
    ViewBag.Title = "ComandosSensor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Entidades.Sensor oSensor = ViewBag.oSensor;
    Entidades.SECTOR oSector = ViewBag.oSector;
}
<script src="~/Scripts/Comandos.js"></script>
<div class="border rounded" style="padding:5px;background-color:whitesmoke">
    <div class="text-center">
        <h2 class="text-center">
            <button class="btn btn-dark float-right" data-toggle="modal" data-target="#ayudaModal">
                <i style="font-size:2rem;" class="fa fa-question-circle"></i>
            </button>
            @oSector.NOMBRE - @oSensor.Descripcion
        </h2>
        <hr />
        <div style="font-size:xx-large">
            Sector: @oSensor.Estado.ID_SECTOR
        </div>
        <div id="EstadoSENSOR" style="font-size:xx-large">            
            @switch (oSensor.Estado.VALOR)
            {
                case 1:
                    <div>
                        Estado: DESHABILITADO
                    </div>
                    break;
                case 2:
                    <div>
                        Estado: CON PRESENCIA
                    </div>
                    break;
                case 3:
                    <div>
                        Estado: SIN PRESENCIA
                    </div>
                    break;
                case 4:
                    <div>
                        Estado: POSIBLE FALLA
                    </div>
                    break;
            }
        </div>
        <hr />
        <div id="Habilitacion">
            <b>
                <label class="label" style="font-size:xx-large">Habilitación</label>
            </b>
            <div id="botonesHabilitacion">
                <button type="button" class="btn btn-lg btn-success" id="btnHabilitar:" onclick="EjecutarComando('@oSensor.Estado.ID_SECTOR',1,'@oSensor.Habilitacion.TAG');fnGuardarNotificacion(@oSector.ID_SECTOR,@oSector.CONTROL_ACCESO.ID_CONTROL_ACCESO,'@oSensor.Descripcion - Se habilitó sensor.',@(Convert.ToString((int)Entidades.Constante.TipoNotificacion.Informacion)));">
                    Habilitar
                </button>
                <button type="button" class="btn btn-lg btn-danger" id="btnDeshabilitar:" onclick="EjecutarComando('@oSensor.Estado.ID_SECTOR',0,'@oSensor.Habilitacion.TAG');fnGuardarNotificacion(@oSector.ID_SECTOR,@oSector.CONTROL_ACCESO.ID_CONTROL_ACCESO,'@oSensor.Descripcion - Se deshabilitó sensor.',@(Convert.ToString((int)Entidades.Constante.TipoNotificacion.Informacion)));">
                    Deshabilitar
                </button>
            </div>
            <hr />
            <div id="" class="text-center">
                <label class="col-form-label-lg" style="font-size:x-large">Tiempo de retardo: </label>
                <input type="number" class="mx-auto input-sm text-center form-control w-25" id="TiempoRetardo" value="@oSensor.TiempoRet.VALOR" />
                <br />
                <text class="float-left" style="font-size:xx-large">
                    PLC: @oSensor.Estado.FK_PLC
                </text>
                <br />
                <br />
                <button class="btn btn-lg btn-dark text-center" id="btnCambioTiempoRetardo" onclick="fnGuardarTiempoRet();fnGuardarNotificacion(@oSector.ID_SECTOR,@oSector.CONTROL_ACCESO.ID_CONTROL_ACCESO,'INFO: @oSensor.Descripcion - Se cambió tiempo de retardo de sensor.',@(Convert.ToString((int)Entidades.Constante.TipoNotificacion.Informacion)));">Aceptar</button>
                <button class="btn btn-lg btn-dark text-center" id="" onclick="window.history.go(-1);">Volver</button>
            </div>
        </div>
        <hr />
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ayudaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">AYUDA SENSOR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <p>SENSOR DESHABILITADO</p>
                        <img height="250" src="~/Content/img/Controles/Sensor/1.png" />
                    </div>
                    <div class="col-md-3">
                        <p>SENSOR SIN PRESENCIA</p>
                        <img height="250" src="~/Content/img/Controles/Sensor/2.png" />
                    </div>
                    <div class="col-md-3">
                        <p>SENSOR CON PRECENCIA</p>
                        <img  height="250" src="~/Content/img/Controles/Sensor/3.png" />
                    </div>
                    <div class="col-md-3">
                        <p>SENSOR EN FALLA</p>
                        <img height="250" src="~/Content/img/Controles/Sensor/4.png" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>
<script>
    function fnGuardarTiempoRet() {
        EjecutarComando('@oSensor.Estado.ID_SECTOR', document.getElementById("TiempoRetardo").value, '@oSensor.TiempoRet.TAG');
    };

    window.onload = function sum() {
        document.getElementById("accordionSidebar").className = "navbar-nav bg-aumax sidebar sidebar-dark accordion toggled";
        setInterval(function () {
            fnActualizarEstadoDispositivo();
        }, 1000);
    };

    function fnActualizarEstadoDispositivo() {
        var idSector = '@oSensor.Estado.ID_SECTOR';
        var tagEstado = '@oSensor.Estado.TAG';
        var url = "@Html.Raw(Url.Action("GetJsonEstadoDispositivo", "ControlAcceso", new { idSector = "-1", tag = "-2" }))";
        url = url.replace("-1", idSector);
        url = url.replace("-2", tagEstado);
        $.get(url, function (data) {
            var jsonEstado = JSON.parse(data);
            var strEstado;
            switch (jsonEstado) {                
                case 1: //Estado: DESHABILITADO
                    strEstado = 'Estado: DESHABILITADO';
                    break;
                case 2: //Estado: CON PRESENCIA
                    strEstado = 'Estado: CON PRESENCIA';
                    break;
                case 3://Estado: SIN PRESENCIA
                    strEstado = 'Estado: SIN PRESENCIA';
                    break;
                case 4://Estado: ABAJO MANUAL
                    strEstado = 'Estado: POSIBLE FALLA';
                    break;
            }
            document.getElementById('EstadoSENSOR').innerHTML = strEstado;
        });
    };

</script>