﻿@{
    ViewBag.Title = "ComandosSemaforo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Entidades.DATO_WORDINT oSemaforoEstado = ViewBag.oSemaforoEstado;
    Entidades.DATO_WORDINT oSemaforoComando = ViewBag.oSemaforoComando;
    Entidades.SECTOR oSector = ViewBag.oSector;
    String strTag = ViewBag.Tag;
}
<script src="~/Scripts/Comandos.js"></script>
<div class="border rounded text-center" style="padding:5px;background-color:whitesmoke">
    <h2>
        <button class="btn btn-dark float-right" data-toggle="modal" data-target="#ayudaModal">
       <i style="font-size:2rem;" class="fa fa-question-circle"></i>
        </button>
        @oSector.NOMBRE - @strTag
    </h2>
    <hr />
    <div style="font-size:xx-large">
        Sector: @oSector.ID_SECTOR
    </div>
    <div style="font-size:xx-large" id="EstadoSemaforo">
        
        @switch (oSemaforoEstado.VALOR)
        {
            case 2:
                <div>
                    Estado: VERDE
                </div>
                break;
            case 1:
                <div>
                    Estado: ROJO
                </div>
                break;
            case 3:
                <div>
                    Estado: APAGADO
                </div>
                break;
        }       
    </div>
    <div style="font-size:xx-large" id="EstadoSemaforo">
        <hr />
        <b>
            Comandos
        </b>
        <br />
        <div id="botonesHabilitacion">
            <button type="button" class="btn btn-lg btn-success" id="btnHabilitar" onclick="EjecutarComando('@oSector.ID_SECTOR',1,'@oSemaforoComando.TAG')">
                Verde
            </button>
            <button type="button" class="btn btn-lg btn-danger" id="btnDeshabilitar" onclick="EjecutarComando('@oSector.ID_SECTOR',2,'@oSemaforoComando.TAG')">
                Rojo
            </button>
        </div>
        <hr />
        <div class="text-center" style="font-size:xx-large">
            <text class="float-left">
                PLC: @oSemaforoComando.FK_PLC
            </text>

            <br />
            <button class="btn btn-lg btn-dark text-center" id="" onclick="window.history.go(-1);">Volver</button>
        </div>
        <br />
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ayudaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">AYUDA SEMAFORO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="row">
                   <div class="col-md-3">
                       <p>SEMAFORO EN ROJO</p>
                       <img height="250" src="~/Content/img/Controles/Semaforo/1.png" />
                   </div>
                   <div class="col-md-3">
                       <p>SEMAFORO EN VERDE</p>
                       <img height="250" src="~/Content/img/Controles/Semaforo/2.png" />
                   </div>
                   <div class="col-md-3">
                       <p>SEMAFORO APAGADO</p>
                       <img height="250" src="~/Content/img/Controles/Semaforo/3.png" />
                   </div>
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function sum() {
        document.getElementById("accordionSidebar").className = "navbar-nav bg-aumax sidebar sidebar-dark accordion toggled";
        setInterval(function () {
            fnActualizarEstadoDispositivo();
        }, 1000);
    };

    function fnActualizarEstadoDispositivo() {
        var idSector = '@oSemaforoEstado.ID_SECTOR';
        var tagEstado = '@oSemaforoEstado.TAG';
        var url = "@Html.Raw(Url.Action("GetJsonEstadoDispositivo", "ControlAcceso", new { idSector = "-1", tag = "-2" }))";
        url = url.replace("-1", idSector);
        url = url.replace("-2", tagEstado);
        $.get(url, function (data) {
            var jsonEstado = JSON.parse(data);
            var strEstado;
            switch (jsonEstado) {
                case 1: //Estado: ROJO
                    strEstado = 'Estado: ROJO';
                    break;
                case 2: //Estado: VERDE
                    strEstado = 'Estado: VERDE';
                    break;
                case 3://Estado: APAGADO
                    strEstado = 'Estado: APAGADO';
                    break;
            }
            document.getElementById('EstadoSemaforo').innerHTML = strEstado;
        });
    };
</script>