﻿@model Entidades.Descarga
@{
    ViewBag.Title = "ConfiguracionDescarga";
    Entidades.Descarga oDescarga = ViewBag.oDescarga;
    Entidades.SECTOR sector = ViewBag.oSector;
}


<h3 class="text-center">@sector.DESCRIPCION</h3>
<hr />

@Html.BeginForm("ConfiguracionDescarga"){



@Html.Hidden("idSector", sector.ID_SECTOR)

<div class="text-center">
    @Html.HiddenFor(model => model.stMinPesoChofer.TAG)
    <label class="label">Peso Minimo Chofer (kg)</label>
    @Html.EditorFor(model => model.stMinPesoChofer.VALOR, new
   {
       htmlAttributes = new
       {
           @style = "text-align:center;padding:0px;",
           @class = "mx-auto input-sm text-center form-control w-25",

       }
   })
    <hr width="25%">
    @Html.HiddenFor(model => model.stMaxPesoChofer.TAG)
    <label class="label"> Peso Máximo Chofer (Kg)</label>
    @Html.EditorFor(model => model.stMaxPesoChofer.VALOR, new
   {
       htmlAttributes = new
       {
           @style = "text-align:center;padding:0px;",
           @class = "mx-auto input-sm text-center form-control w-25",

       }
   })

    <br />
    <button class="btn btn-dark text-center" type="submit">Aceptar</button>
</div>

}