﻿@model Entidades.CONTROL_ACCESO
@{
    ViewBag.Title = "Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    switch (Model.ID_CONTROL_ACCESO)
    {
        case 100:
        case 800:
        case 900:
        case 1200:
            <div id="Dinamismo">
                @Html.Action("DinamismoPorteria_", "ControlAcceso", new { idControl = Model.ID_CONTROL_ACCESO })
            </div>
            break;
        case 200:
            <div id="Dinamismo">
                @Html.Action("DinamismoPorteria_", "ControlAcceso", new { idControl = Model.ID_CONTROL_ACCESO })
            </div>
            break;
        case 400:
            <div id="Dinamismo">
                @{
                    foreach (Entidades.SECTOR Sector in Model.SECTOR)
                    {
                        switch (Sector.ID_SECTOR)
                        {
                            case 410:
                            case 420:
                            case 440:
                            case 450:
                                <div id="@Sector.ID_SECTOR">
                                    @Html.Action("DinamismoBalanzaT4_", "ControlAcceso", new { idSector = Sector.ID_SECTOR })
                                </div>
                                <div id="Notif+@Sector.ID_SECTOR" style="height: 150px; overflow-y: scroll;">
                                    @Html.Action("_ListaNotificaciones", "Notificaciones", new { idControl = Sector.CONTROL_ACCESO.ID_CONTROL_ACCESO, idSector = Sector.ID_SECTOR })
                                </div>
                                break;
                        }

                    }
                }

            </div>


                        break;
                    }
}

<script type="text/javascript">
    var PausaInterval=false;

    @*window.onload = function sum() {
        document.getElementById("accordionSidebar").className = "navbar-nav bg-aumax sidebar sidebar-dark accordion toggled";
        setInterval(function () {
            $.get("/ControlAcceso/Control_?idControl=" + @Model.ID_CONTROL_ACCESO).done(function (data){
                if (!PausaInterval) {
                    $("#Dinamismo").html("");
                    $("#Dinamismo").html(data);
                }
            });
            if ($('#modalCartelMultiled').is(':visible')) {
                console.log("modal abierto");
            }
            else {
                console.log("modal cerrado");
            }
            console.log(PausaInterval);
            return false;
        }, 3000);

    };*@

    function PausarInterval(){
        PausaInterval=true;
    };

    function ReanudarInterval(){
        PausaInterval=false;
    };

    $('#modalCartelMultiled').on('hidden.bs.modal', function () {
        ReanudarInterval();
    });

</script> 