﻿@model Entidades.CONTROL_ACCESO
@{
    ViewBag.Title = "ControlDescargaT5";
    Layout = null;
}


    <div id="Dinamismo">
        @foreach (Entidades.SECTOR Sector in Model.SECTOR)
        {
            //El sector egreso es un numero mas que el sector ingreso
            int idSectorEgreso = (Sector.ID_SECTOR + 1);
            switch (Sector.ID_SECTOR)
            {


                case 511:
                case 521:
                case 531:
                case 541:
                case 551:
                case 561:
                    <div class="border rounded" style="padding:5px;background-color:whitesmoke">

                        <h4 style="width:100%;">
                            @Sector.ID_SECTOR - INGRESO / @idSectorEgreso - EGRESO
                        </h4>

                        <div class="row">
                            <div class="col-md-7">
                                <div class="table-responsive" style="display:block;overflow-x:auto;white-space:nowrap;" id="@Sector.ID_SECTOR">             
                                    @Html.Action("DinamismoDescargaT5", "ControlAcceso", new { idSectorIngreso = Sector.ID_SECTOR, idSectorEgreso = idSectorEgreso  })
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div id="@(Sector.ID_SECTOR.ToString() + "Notif")" style="height: 434px; overflow-y: scroll;">
                                    @Html.Action("_ListaNotificaciones", "Notificaciones", new { idControl = Sector.CONTROL_ACCESO.ID_CONTROL_ACCESO, idSector = Sector.ID_SECTOR, idSector2 = idSectorEgreso  })
                                </div>
                            </div>
                        </div>
                        

                    </div>
                    break;
                case 512:
                case 522:
                case 532:
                case 542:
                case 552:
                case 562:
                    @*<div class="border rounded" style="padding:5px;background-color:whitesmoke">
                        <h4 style="width:100%;">
                            @Sector.ID_SECTOR - @Sector.DESCRIPCION
                        </h4>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="table-responsive" style="display:block;overflow-x:auto;white-space:nowrap;" id="@Sector.ID_SECTOR">
                                    @Html.Action("DinamismoDescargaEgresoT5", "ControlAcceso", new { idSector = Sector.ID_SECTOR })
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div id="@(Sector.ID_SECTOR.ToString() + "Notif")" style="height: 434px; overflow-y: scroll;">
                                    @Html.Action("_ListaNotificaciones", "Notificaciones", new { idControl = Sector.CONTROL_ACCESO.ID_CONTROL_ACCESO, idSector = Sector.ID_SECTOR })
                                </div>
                            </div>
                        </div>


                    </div>*@
                    break;

                default:
                    break;
            }

            <br />
        }
    </div>

