﻿
@model Entidades.CONTROL_ACCESO
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Comandos.js"></script>
@{
    <div class="border text-center rounded" style="background-color:whitesmoke">
        <h3 style="padding:5px;margin-bottom:0px">
            @Model.NOMBRE
            <span id="DinBitVida">
                @Html.Action("BitVidaControl", "ControlAcceso", new { idControlAcceso = Model.ID_CONTROL_ACCESO, BitVida = Model.BIT_VIDA })
            </span>
            
        </h3>
        <button @*id="@(oSector.ID_SECTOR.ToString() + "btnReiniciar")"*@ class="btn btn-warning" style="display: inline-block; padding: 5px;margin-bottom:5px;" onclick="GenerarComandoControl('@Model.SECTOR.Select(a=>a.ID_SECTOR).FirstOrDefault()',' ', '@Convert.ToInt16(Entidades.Constante.TIPO_COMANDO.REINICIAR_CONTROL)');">
            Reiniciar Control
        </button>
        <hr style="padding:5px;margin:1px" />
        <div id="Notif" style="height: 150px; overflow-y: auto;padding:5px;">
            @Html.Action("_ListaNotificaciones", "Notificaciones", new { idControl = Model.ID_CONTROL_ACCESO, idSector = 0 })
        </div>
    </div>
    <br />
    Entidades.CONTROL_ACCESO oControl = Model;
    switch (Model.ID_CONTROL_ACCESO)
    {
        case 100:
        case 200:
        case 600:
        case 800:
        case 900:
        case 1200:
            <div id="Dinamismo">
                @{
                    foreach (Entidades.SECTOR Sector in Model.SECTOR)
                    {
                        <div class="border rounded" style="padding:5px;background-color:whitesmoke">
                            <h4>
                              @Sector.ID_SECTOR - @Sector.DESCRIPCION
                            </h4>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="table-responsive" style="display:block;overflow-x:auto;white-space:nowrap;" id="@Sector.ID_SECTOR">
                                        @Html.Action("DinamismoPorteria_", "ControlAcceso", new { idSector = Sector.ID_SECTOR })
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div id="@(Sector.ID_SECTOR.ToString() + "Notif")" style="height: 434px; overflow-y: scroll;">
                                        @Html.Action("_ListaNotificaciones", "Notificaciones", new { idControl = Sector.CONTROL_ACCESO.ID_CONTROL_ACCESO, idSector = Sector.ID_SECTOR })
                                    </div>
                                </div>
                            </div>
                            <div id="@(Sector.ID_SECTOR.ToString() + "OpcionesControl")">
                                @Html.Action("OpcionesControlPorteria", "ControlAcceso", new { idSector = Sector.ID_SECTOR })
                            </div>                                              
                        </div>
                        <br />
                    }
                }
            </div>
                        break;
                    case 400:
                        <div id="Dinamismo">
                            @{
                                foreach (Entidades.SECTOR Sector in Model.SECTOR)
                                {
                                    switch (Sector.ID_SECTOR)
                                    {
                                        case 410:
                                        case 420:
                                        case 440:
                                        case 450:
                                            <div class="border rounded" style="padding:5px;background-color:whitesmoke">
                                                <h4>
                                                   @Sector.DESCRIPCION
                                                </h4>
                                                <div class="row">
                                                    <div class="col-lg-7">
                                                        <div class="table-responsive" style="display:block;overflow-x:auto;padding:4px" id="@Sector.ID_SECTOR">
                                                            @Html.Action("DinamismoBalanzaT4_", "ControlAcceso", new { idSector = Sector.ID_SECTOR })
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <div id="@(Sector.ID_SECTOR.ToString() + "Notif")" style="height: 210px; overflow-y: auto;" class="border">
                                                            @Html.Action("_ListaNotificaciones", "Notificaciones", new { idControl = Sector.CONTROL_ACCESO.ID_CONTROL_ACCESO, idSector = Sector.ID_SECTOR })
                                                        </div>                                                        
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <div id="@(Sector.ID_SECTOR.ToString() + "OpcionesControl")">
                                                            @Html.Action("OpcionesControlBalanza", "ControlAcceso", new { idSector = Sector.ID_SECTOR })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div id="@(Sector.ID_SECTOR.ToString() + "CartelMULTILED")">
                                                            @Html.Action("CartelMultiLED", "CARTEL_MULTILED", new { idCartel = Sector.ID_SECTOR })
                                                        </div>
                                                    </div>
                                                </div>                              
                                            </div>
                                            <br />
                                            break;
                                        @*case 430:
                                        case 460:
                                            <div class="border rounded" style="padding:5px;background-color:whitesmoke">
                                                <h4>
                                                    @Sector.ID_SECTOR - @Sector.DESCRIPCION
                                                </h4>
                                                <br />
                                                <div class="row">
                                                    <div class="col-lg-3 table-responsive" style="overflow-x:auto;white-space:nowrap;width:160px" id="@Sector.ID_SECTOR">
                                                        @Html.Action("DinamismoBarreraFalsaT4_", "ControlAcceso", new { idSector = Sector.ID_SECTOR })
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div id="@(Sector.ID_SECTOR.ToString() + "Notif")" style="height: 414px; overflow-y: auto; padding:-15px;" class="">
                                                            @Html.Action("_ListaNotificaciones", "Notificaciones", new { idControl = Sector.CONTROL_ACCESO.ID_CONTROL_ACCESO, idSector = Sector.ID_SECTOR })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            break;*@
                                    }

                                }
                            }

                        </div>


                                    break;
                                case 700:
                                    <div id="Dinamismo">
                                        @{
                                            foreach (Entidades.SECTOR Sector in Model.SECTOR)
                                            {
                                                <div class="border rounded" style="padding:5px;background-color:whitesmoke">
                                                    <h4>
                                                        @Sector.DESCRIPCION
                                                    </h4>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <div class="table-responsive" style="display:block;overflow-x:auto;white-space:nowrap;" id="@Sector.ID_SECTOR">
                                                                @Html.Action("DinamismoPorteriaSoloLectura_", "ControlAcceso", new { idSector = Sector.ID_SECTOR })
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <div id="@(Sector.ID_SECTOR.ToString() + "Notif")" style="height: 414px; overflow-y: auto; padding:5px;">
                                                                @Html.Action("_ListaNotificaciones", "Notificaciones", new { idControl = Sector.CONTROL_ACCESO.ID_CONTROL_ACCESO, idSector = Sector.ID_SECTOR })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />

                                                </div>
                                                <br />

                                            }
                                        }

                                    </div>
                                                break;
                                            case 300:
                                                <div id="ControlAccesoCalado"  >
                                                    @Html.Action("ControlCaladoT3", "ControlAcceso", new { idControlAcceso = Model.ID_CONTROL_ACCESO })
                                                </div>

                                                break;
                                            case 500:
                                                <div id="ControlAccesoCalado">
                                                    @Html.Action("ControlDescargaT5", "ControlAcceso", new { idControlAcceso = Model.ID_CONTROL_ACCESO })
                                                </div>

                                                    break;
                                            }
}

<script type="text/javascript">
    var PausaInterval = false;

    var bitVidaActual = '@Html.Raw(Json.Encode(Model.BIT_VIDA))';

    var idControlAcceso = parseInt('@Model.ID_CONTROL_ACCESO')
    window.onload = function sum() {
        document.title = '@Model.NOMBRE';
        document.getElementById("accordionSidebar").className = "navbar-nav bg-aumax sidebar sidebar-dark accordion toggled";
        setInterval(function () {
            fnActualizarDinamismoNotifControl();
            fnActualizarMuestreoBitVida();
            switch (parseInt('@oControl.ID_CONTROL_ACCESO')) {
                case 100:
                case 200:
                case 600:
                case 800:
                case 900:
                case 1200:
                    fnActualizarDinamismoPorteria();
                    break;
                case 300:
                    fnActualizarDinamismoCaladorT3();
                    break;
                case 400:
                    fnActualizarDinamismoT4();
                    break;
                case 500:
                    fnActualizarDinamismoDescargaT5();
                    break;
                case 700:
                    fnActualizarDinamismoPorteriaSoloLectura();
                    break;


            }
            return false;
        }, 3000);

    };

    function fnActualizarDinamismoCaladorT3() {
        console.log("fnActualizarDinamismoCaladorT3");
        var urlControlAccesoCalado = "@Html.Raw(Url.Action("ControlCaladoT3", "ControlAcceso", new { idControlAcceso = Model.ID_CONTROL_ACCESO }))"
        $("#ControlAccesoCalado").load(urlControlAccesoCalado);
    }
        function fnActualizarDinamismoDescargaT5() {
            console.log("fnActualizarDinamismoDescargaT5");
        var urlControlAccesoCalado = "@Html.Raw(Url.Action("ControlDescargaT5", "ControlAcceso", new { idControlAcceso = Model.ID_CONTROL_ACCESO }))"
        $("#ControlAccesoCalado").load(urlControlAccesoCalado);
    }

    function fnActualizarDinamismoT4() {
        var modeloIdSectores = '@Html.Raw(Json.Encode(Model.SECTOR.OrderBy(a=>a.ID_SECTOR).Select(a=>a.ID_SECTOR).ToList()))';
        var JsonIdSectores = JSON.parse(modeloIdSectores);

        for (var i = 0; i < JsonIdSectores.length; i++) {
            switch (JsonIdSectores[i]) {
                case 410:
                case 420:
                case 440:
                case 450:
                    var urlBalanza = "@Html.Raw(Url.Action("DinamismoBalanzaT4_", "ControlAcceso", new { idSector = "-1"}))";
                    urlBalanza = urlBalanza.replace("-1", JsonIdSectores[i]);
                    var idDivDinamismoBalanza = "#" + JsonIdSectores[i].toString();

                    var urlCartelMLED = "@Html.Raw(Url.Action("CartelMultiLED", "CARTEL_MULTILED", new { idCartel = "-1"}))";
                    urlCartelMLED = urlCartelMLED.replace("-1", JsonIdSectores[i]);
                    var idDivDinamismoCartel = "#" + JsonIdSectores[i].toString() + "CartelMULTILED";

                    var urlNotif = "@Html.Raw(Url.Action("_ListaNotificaciones", "Notificaciones", new { idControl = "-1", idSector = "-2" }))";
                    urlNotif = urlNotif.replace("-1", idControlAcceso);
                    urlNotif = urlNotif.replace("-2", JsonIdSectores[i])
                    var idDivNotif = "#" + JsonIdSectores[i].toString() + "Notif";

                    var urlEstadoLectorRFID = "@Html.Raw(Url.Action("EstadoLector", "LECTOR_RFID", new { idSector = "-1"}))";
                    urlEstadoLectorRFID = urlEstadoLectorRFID.replace("-1", JsonIdSectores[i]);
                    var idDivDinamismoEstadoLector = "#" + JsonIdSectores[i].toString() + "EstadoLectura";

                    $(idDivDinamismoBalanza).load(urlBalanza);
                    $(idDivNotif).load(urlNotif);
                    $(idDivDinamismoCartel).load(urlCartelMLED);
                    $(idDivDinamismoEstadoLector).load(urlEstadoLectorRFID);
                    break;

                case 430:
                case 460:
                    var urlBarreraFalsa = "@Html.Raw(Url.Action("DinamismoBarreraFalsaT4_", "ControlAcceso", new { idSector = "-1"}))";
                    urlBarreraFalsa = urlBarreraFalsa.replace("-1", JsonIdSectores[i]);
                    var idDivDinamismoBarreraFalsa = "#" + JsonIdSectores[i].toString();

                    var urlNotif = "@Html.Raw(Url.Action("_ListaNotificaciones", "Notificaciones", new { idControl = "-1", idSector = "-2" }))";
                    urlNotif = urlNotif.replace("-1", idControlAcceso);
                    urlNotif = urlNotif.replace("-2", JsonIdSectores[i])
                    var idDivNotif = "#" + JsonIdSectores[i].toString() + "Notif";

                    $(idDivNotif).load(urlNotif);
                    $(idDivDinamismoBarreraFalsa).load(urlBarreraFalsa);
                    break;

            }


        }
    };

    function fnActualizarDinamismoPorteria() {
        var modeloIdSectores = '@Html.Raw(Json.Encode(Model.SECTOR.Select(a => a.ID_SECTOR).ToList()))';
        var JsonIdSectores = JSON.parse(modeloIdSectores);

        for (var i = 0; i < JsonIdSectores.length; i++) {
            var urlDinamismo = "@Html.Raw(Url.Action("DinamismoPorteria_", "ControlAcceso", new { idSector = "-1"}))";
            urlDinamismo = urlDinamismo.replace("-1", JsonIdSectores[i]);
            var idDivDinamismo = "#" + JsonIdSectores[i].toString();

            var urlNotif = "@Html.Raw(Url.Action("_ListaNotificaciones", "Notificaciones", new { idControl = "-1", idSector = "-2" }))";
            urlNotif = urlNotif.replace("-1", idControlAcceso);
            urlNotif = urlNotif.replace("-2", JsonIdSectores[i]);
            var idDivNotif = "#" + JsonIdSectores[i].toString() + "Notif";

            var urlEstadoLectorRFID = "@Html.Raw(Url.Action("EstadoLector", "LECTOR_RFID", new { idSector = "-1"}))";
            urlEstadoLectorRFID = urlEstadoLectorRFID.replace("-1", JsonIdSectores[i]);
            var idDivDinamismoEstadoLector = "#" + JsonIdSectores[i].toString() + "EstadoLectura";

            $(idDivDinamismoEstadoLector).load(urlEstadoLectorRFID);
            $(idDivDinamismo).load(urlDinamismo);
            $(idDivNotif).load(urlNotif);
        }
    };

    function fnActualizarDinamismoNotifControl() {
        var urlNotifControl = "@Html.Raw(Url.Action("_ListaNotificaciones", "Notificaciones", new { idControl = "-1", idSector = "-2" }))";
        urlNotifControl = urlNotifControl.replace("-1", idControlAcceso);
        urlNotifControl = urlNotifControl.replace("-2", 0);
        $("#Notif").load(urlNotifControl);
    };

    function fnActualizarDinamismoPorteriaSoloLectura() {
        var modeloIdSectores = '@Html.Raw(Json.Encode(Model.SECTOR.Select(a => a.ID_SECTOR).ToList()))';
        var JsonIdSectores = JSON.parse(modeloIdSectores);

        for (var i = 0; i < JsonIdSectores.length; i++) {
            var urlDinamismo = "@Html.Raw(Url.Action("DinamismoPorteriaSoloLectura_", "ControlAcceso", new { idSector = "-1"}))";
            urlDinamismo = urlDinamismo.replace("-1", JsonIdSectores[i]);
            var idDivDinamismo = "#" + JsonIdSectores[i].toString();

            var urlNotif = "@Html.Raw(Url.Action("_ListaNotificaciones", "Notificaciones", new { idControl = "-1", idSector = "-2" }))";
            urlNotif = urlNotif.replace("-1", idControlAcceso);
            urlNotif = urlNotif.replace("-2", JsonIdSectores[i]);
            var idDivNotif = "#" + JsonIdSectores[i].toString() + "Notif";

            var urlEstadoLectorRFID = "@Html.Raw(Url.Action("EstadoLector", "LECTOR_RFID", new { idSector = "-1"}))";
            urlEstadoLectorRFID = urlEstadoLectorRFID.replace("-1", JsonIdSectores[i]);
            var idDivDinamismoEstadoLector = "#" + JsonIdSectores[i].toString() + "EstadoLectura";

            $(idDivDinamismo).load(urlDinamismo);
            $(idDivNotif).load(urlNotif);
            $(idDivDinamismoEstadoLector).load(urlEstadoLectorRFID);
        }
    };

    function fnActualizarMuestreoBitVida() {
        var idControlAcceso = '@Html.Raw(Json.Encode(Model.ID_CONTROL_ACCESO))';


        var urlBitVida = "@Html.Raw(Url.Action("BitVidaControl", "ControlAcceso", new { idControlAcceso = "-1", BitVida ="-2"}))";
        urlBitVida = urlBitVida.replace("-1", idControlAcceso);
        urlBitVida = urlBitVida.replace("-2", bitVidaActual);
        $("#DinBitVida").load(urlBitVida);

        var url = "@Html.Raw(Url.Action("GetBitVidaJson", "ControlAcceso", new { idControl = "-1"}))";
        url = url.replace("-1", idControlAcceso);
        $.get(url, function (data) {
            var jsonBit = JSON.parse(data);
            bitVidaActual = parseInt(jsonBit);
            console.log(bitVidaActual);
        });
    };

    function PausarInterval() {
        PausaInterval = true;
    };

    function ReanudarInterval() {
        PausaInterval = false;
    };

    $('#modalCartelMultiled').on('hidden.bs.modal', function () {
        ReanudarInterval();
    });

</script>
