﻿@model Entidades.CONTROL_ACCESO
@{
    Layout = null;
  
}

<div id="Dinamismo">
    @foreach (Entidades.SECTOR Sector in Model.SECTOR)
    {
        <div class="border rounded" style="padding:5px;background-color:whitesmoke">

            <div class="row">
                <div class="col-md-4">
                    <div class="table-responsive" style="display:block;overflow-x:auto;white-space:nowrap;" id="@Sector.ID_SECTOR">
                        @Html.Action("DinamismoCaladoT3_", "ControlAcceso", new { idSector = Sector.ID_SECTOR })
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="@(Sector.ID_SECTOR.ToString() + "CartelMULTILED")">
                        @Html.Action("CartelMultiLED", "CARTEL_MULTILED", new { idCartel = Sector.ID_SECTOR })
                    </div>
                </div>
                <div class="col-md-5">
                    <div id="@(Sector.ID_SECTOR.ToString() + "Notif")" style="height: 434px; overflow-y: scroll;">
                        @Html.Action("_ListaNotificaciones", "Notificaciones", new { idControl = Sector.CONTROL_ACCESO.ID_CONTROL_ACCESO, idSector = Sector.ID_SECTOR })
                    </div>
                </div>

            </div>

        </div>
    <br />
    }
</div>