﻿<div class="container" style="padding:0px;margin:0px;">
    @{
        Entidades.SECTOR_PORTERIA oSectorPorteria = ViewBag.oSectorPorteria;
        String TAGBarrera = "BARRERA";
        String TAGSensor = "S_BARRERA";
        int inEstadoLector = ViewBag.inEstadoLector;
    }    
    <style>
        .table-hover-cells > tbody > tr > th:hover,
        .table-hover-cells > tbody > tr > td:hover {
            background-color: #E0E0E0;
        }

        .table-hover-cells > tbody > tr > th.active:hover,
        .table-hover-cells > tbody > tr > td.active:hover,
        .table-hover-cells > tbody > tr.active > th:hover,
        .table-hover-cells > tbody > tr.active > td:hover {
            background-color: #d8d8d8;
        }

        .table-hover-cells > tbody > tr > td.NoPintarCelda:hover {
            background-color: #F8F9FC;
        }

        .table-hover.table-hover-cells > tbody > tr:hover > th:hover,
        .table-hover.table-hover-cells > tbody > tr:hover > td:hover {
            background-color: #e8e8e8;
        }

        .table-hover.table-hover-cells > tbody > tr.active:hover > th:hover,
        .table-hover.table-hover-cells > tbody > tr.active:hover > td:hover {
            background-color: #d8d8d8;
        }
    </style>
    <table class="table table-hover-cells" style="width:0%">
        <tbody>
            <tr class="border-bottom" style="border-bottom: 5px solid !important;">
                @{
                    if (oSectorPorteria.Espira > 0)
                    {
                        <td style="padding:0px!important;width:73px;cursor:pointer;">

                            @{
                                var titulo = "";
                                switch ((int)oSectorPorteria.Espira)
                                {
                                    case 1:
                                        titulo = "Con Presencia";
                                        break;
                                    case 2:
                                        titulo = "Sin Presencia";
                                        break;
                                }
                                <img src="~/Content/img/Controles/Espira/@(oSectorPorteria.Espira).png" title="Espira estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                            }

                        </td>
                                }
                }
                
                @{
                    if (oSectorPorteria.Semaforo1 > 0)
                    {
                        <td style="padding:0px!important;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSemaforo", "ControlAcceso", new { idSector = oSectorPorteria.ID_SECTOR, tag="SEMAFORO1" })';return false;">
                            @{
                                var titulo = "";
                                switch ((int)oSectorPorteria.Semaforo1)
                                {
                                    case 1:
                                        titulo = "ROJO";
                                        break;
                                    case 2:
                                        titulo = "VERDE";
                                        break;
                                    case 3:
                                        titulo = "APAGADO";
                                        break;
                                }
                                <img src="~/Content/img/Controles/Semaforo/@(oSectorPorteria.Semaforo1).png" title="Semaforo1 estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                            }
                        </td>
                                }
                                else
                                {

                                }
                }
                @if (oSectorPorteria.Sensor > 0)
                {
                    var titulo = "";
                    <td style="padding:0px!important;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSensor", "ControlAcceso", new { idSector = oSectorPorteria.ID_SECTOR, tag=TAGSensor })';return false;">
                        @{
                            switch (oSectorPorteria.Sensor)
                            {
                                case 1:
                                    titulo = "Deshabilitado";
                                    <img src="~/Content/img/Controles/Sensor/@(oSectorPorteria.Sensor).png" title="Sensor estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                                    break;
                                case 2:
                                    titulo = "Con Presencia";
                                    <img src="~/Content/img/Controles/Sensor/3.png" title="Sensor estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                                    break;
                                case 3:
                                    titulo = "Sin Presencia";
                                    <img src="~/Content/img/Controles/Sensor/2.png" title="Sensor estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                                    break;
                                case 4:
                                    titulo = "Posible falla";
                                    <img src="~/Content/img/Controles/Sensor/@(oSectorPorteria.Sensor).png" title="Sensor estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                                    break;
                            }
                        }
                    </td>
                            }
                
                    

                    @{
                        if (oSectorPorteria != null)
                        {
                            <td style="padding:0px!important;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosBarrera", "ControlAcceso", new { idSector = oSectorPorteria.ID_SECTOR, tag = TAGBarrera })';return false;">
                            @{
                                var titulo = "";
                                switch ((int)oSectorPorteria.Barrera)
                                {
                                    case 0:
                                        titulo = "Indefinido/Falla";
                                        <img src="~/Content/img/Controles/Barrera/5.png" title="Barrera estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                                        break;
                                    case 1:
                                        titulo = "Arriba Auto";
                                        <img src="~/Content/img/Controles/Barrera/@(oSectorPorteria.Barrera).png" title="Barrera estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                                        break;
                                    case 2:
                                        titulo = "Abajo Auto";
                                        <img src="~/Content/img/Controles/Barrera/@(oSectorPorteria.Barrera).png" title="Barrera estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                                        break;
                                    case 3:
                                        titulo = "Arriba Manual";
                                        <img src="~/Content/img/Controles/Barrera/@(oSectorPorteria.Barrera).png" title="Barrera estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                                        break;
                                    case 4:
                                        titulo = "Abajo Manual";
                                        <img src="~/Content/img/Controles/Barrera/@(oSectorPorteria.Barrera).png" title="Barrera estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                                        break;
                                    case 5:
                                        titulo = "Falla";
                                        <img src="~/Content/img/Controles/Barrera/@(oSectorPorteria.Barrera).png" title="Barrera estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                                        break;
                                }

                            }
                        </td>
                                }
                }                

                @{
                    if (inEstadoLector < 4)
                    {
                        <td style="padding:0px!important;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("Editar", "LECTOR_RFID", new { id = oSectorPorteria.ID_SECTOR })';return false;">
                            @{
                                var titulo = "";
                                switch (inEstadoLector)
                                {
                                    case (int)Entidades.Constante.IdEstadoLector.desconectado:
                                        titulo = "Desconectado";
                                        break;
                                    case (int)Entidades.Constante.IdEstadoLector.sinLectura:
                                        titulo = "Sin lectura";
                                        break;
                                    case (int)Entidades.Constante.IdEstadoLector.leyendo:
                                        titulo = "Leyendo";
                                        break;
                                    case (int)Entidades.Constante.IdEstadoLector.lecturaTAG:
                                        titulo = "Lectura de TAG";
                                        break;
                                }
                                <img src="~/Content/img/Controles/Antena/@(inEstadoLector).png" title="Estado Lector = @titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                            }
                        </td>
                                }
                                else
                                {

                                }
                }

                @{
                    if (oSectorPorteria.Semaforo2 > 0)
                    {
                        <td style="padding:0px!important;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSemaforo", "ControlAcceso", new { idSector = oSectorPorteria.ID_SECTOR, tag="SEMAFORO2" })';return false;">
                            @{
                                var titulo = "";
                                switch ((int)oSectorPorteria.Semaforo2)
                                {
                                    case 1:
                                        titulo = "ROJO";
                                        break;
                                    case 2:
                                        titulo = "VERDE";
                                        break;
                                    case 3:
                                        titulo = "APAGADO";
                                        break;
                                }
                                <img src="~/Content/img/Controles/Semaforo/@(oSectorPorteria.Semaforo2).png" title="Semaforo1 estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                            }
                        </td>
                                }
                }              
            </tr>
            <tr>
                @{
                    if (oSectorPorteria.Espira > 0)
                    {
                        <td style="padding:10px;width:73px;cursor:pointer;">

                            @{
                                var titulo = "";
                                switch ((int)oSectorPorteria.Espira)
                                {
                                    case 1:
                                        titulo = " Con Presencia ";
                                        break;
                                    case 2:
                                        titulo = " Sin Presencia ";
                                        break;
                                }
                                @titulo;
                            }

                        </td>
                                }
                }

                @{
                    if (oSectorPorteria.Semaforo1 > 0)
                    {
                        <td style="padding:10px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSemaforo", "ControlAcceso", new { idSector = oSectorPorteria.ID_SECTOR, tag="SEMAFORO1" })';return false;">
                            @{
                                var titulo = "";
                                switch ((int)oSectorPorteria.Semaforo1)
                                {
                                    case 1:
                                        titulo = " ROJO ";
                                        break;
                                    case 2:
                                        titulo = " VERDE ";
                                        break;
                                    case 3:
                                        titulo = " APAGADO ";
                                        break;
                                }
                                @titulo
                            }
                        </td>
                                }
                                else
                                {

                                }
                }
                @if (oSectorPorteria.Sensor > 0)
                {
                    var titulo = "";
                    <td style="padding:10px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSensor", "ControlAcceso", new { idSector = oSectorPorteria.ID_SECTOR, TAGSensor })';return false;">
                        @{
                            switch (oSectorPorteria.Sensor)
                            {
                                case 1:
                                    titulo = " Deshabilitado ";

                                    break;
                                case 2:
                                    titulo = " Con Presencia ";

                                    break;
                                case 3:
                                    titulo = " Sin Presencia ";

                                    break;
                                case 4:
                                    titulo = " Posible falla ";

                                    break;
                            }
                            @titulo;
                        }
                    </td>
                            }



                @{
                    if (oSectorPorteria != null)
                    {
                        <td style="padding:10px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosBarrera", "ControlAcceso", new { idSector = oSectorPorteria.ID_SECTOR, TAGBarrera })';return false;">
                            @{
                                var titulo = "";
                                switch ((int)oSectorPorteria.Barrera)
                                {
                                    case 0:
                                        titulo = " Indefinido/Falla ";
                                        @titulo;
                                        break;
                                    case 1:
                                        titulo = " Arriba Auto ";
                                        @titulo;
                                        break;
                                    case 2:
                                        titulo = " Abajo Auto ";
                                        @titulo;
                                        break;
                                    case 3:
                                        titulo = " Arriba Manual ";
                                        @titulo;
                                        break;
                                    case 4:
                                        titulo = " Abajo Manual ";
                                        @titulo;
                                        break;
                                    case 5:
                                        titulo = " Falla ";
                                        @titulo;
                                        break;
                                }

                            }
                        </td>
                                }
                }
                @{
                    if (inEstadoLector <4)
                    {
                        <td style="padding:10px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("Editar", "LECTOR_RFID", new { id = oSectorPorteria.ID_SECTOR })';return false;">
                            @{
                                var titulo = "";
                                switch (inEstadoLector)
                                {
                                    case  (int)Entidades.Constante.IdEstadoLector.desconectado:
                                        titulo = "Desconectado";
                                        break;
                                    case (int)Entidades.Constante.IdEstadoLector.sinLectura:
                                        titulo = "Sin lectura";
                                        break;
                                    case (int)Entidades.Constante.IdEstadoLector.leyendo:
                                        titulo = "Leyendo";
                                        break;
                                    case (int)Entidades.Constante.IdEstadoLector.lecturaTAG:
                                        titulo = "Lectura de TAG";
                                        break;
                                }
                                @titulo;
                            }
                        </td>
                                }
                }
                @{
                    if (oSectorPorteria.Semaforo2 > 0)
                    {
                        <td style="padding:10px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSemaforo", "ControlAcceso", new { idSector = oSectorPorteria.ID_SECTOR, tag="SEMAFORO2" })';return false;">
                            @{
                                var titulo = "";
                                switch ((int)oSectorPorteria.Semaforo2)
                                {
                                    case 1:
                                        titulo =  " ROJO ";
                                        break;
                                    case 2:
                                        titulo = " VERDE ";
                                        break;
                                    case 3:
                                        titulo = " APAGADO ";
                                        break;
                                }
                                @titulo;
                            }
                        </td>
                                }
                }
            </tr>

        </tbody>
    </table>
</div>