﻿<div class="container" style="padding:0px;">
    @{
        Entidades.SECTOR_BALANZA_UNIDIRECCIONAL oBalanza = ViewBag.newSectBalanza;
        Entidades.CARTEL_MULTILED oCartel = ViewBag.oCartel;
        Entidades.Sensor oSensorLectura = ViewBag.oSensorLectura;
        Entidades.Sensor oSensor1Barrera = ViewBag.oSensor1Barrera;
        Entidades.Sensor oSensor2Barrera = ViewBag.oSensor2Barrera;
        Entidades.Sensor oSensor1Posicion = ViewBag.oSensor1Posicion;
        Entidades.Sensor oSensor2Posicion = ViewBag.oSensor2Posicion;
        Entidades.Barrera oBarrera1 = ViewBag.oBarrera1;
        Entidades.Barrera oBarrera2 = ViewBag.oBarrera2;
        int inEstadoLector = ViewBag.inEstadoLector;
    }

    <style>
        .table-hover-cells > tbody > tr > th:hover,
        .table-hover-cells > tbody > tr > td:hover {
            background-color: #E0E0E0;
        }

        .table-hover-cells > tbody > tr > th.active:hover,
        .table-hover-cells > tbody > tr > td.active:hover,
        .table-hover-cells > tbody > tr.active > th:hover,
        .table-hover-cells > tbody > tr.active > td:hover {
            background-color: #d8d8d8;
        }

        .table-hover-cells > tbody > tr > td.NoPintarCelda:hover {
            background-color: #F8F9FC;
        }

        .table-hover.table-hover-cells > tbody > tr:hover > th:hover,
        .table-hover.table-hover-cells > tbody > tr:hover > td:hover {
            background-color: #e8e8e8;
        }

        .table-hover.table-hover-cells > tbody > tr.active:hover > th:hover,
        .table-hover.table-hover-cells > tbody > tr.active:hover > td:hover {
            background-color: #d8d8d8;
        }
    </style>
    <table class="table table-hover-cells border-bottom" style="border-bottom: 5px solid !important;border-top:0px !important;overflow-x:scroll">
        <tbody>
            <tr>
                <td style="padding:0px;width:36.5px;cursor:pointer;text-align:center;">
                    @{
                        string strTituloEspira = "";
                        switch (oSensorLectura.Estado.VALOR)
                        {
                            case 1:
                                strTituloEspira = "Con Presencia";
                                break;
                            case 2:
                                strTituloEspira = "Sin Presencia";
                                break;
                        }
                        <img src="~/Content/img/Controles/Espira/@(oSensorLectura.Estado.VALOR).png" class="h-25 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Espira: @(strTituloEspira)" />
                    }
                </td>
                <td style="padding:0px;width:36.5px;cursor:pointer;text-align:center;" onclick="location.href='@Url.Action("Editar", "LECTOR_RFID", new { id = oBalanza.ID_SECTOR })';return false;">
                    @{
                        string strTituloAntena = "";
                        switch (inEstadoLector)
                        {
                            case 0:
                                strTituloAntena = "Desconectado";
                                break;
                            case 1:
                                strTituloAntena = "Sin lectura";
                                break;
                            case 2:
                                strTituloAntena = "Leyendo";
                                break;
                            case 3:
                                strTituloAntena = "Lectura de TAG";

                                break;
                        }
                        <img src="~/Content/img/Controles/Antena/@(inEstadoLector).png" class="h-25 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Estado Lector = @strTituloAntena" />
                    }
                </td>
                <td style="padding:0px;width:36.5px!important;cursor:pointer;" onclick="location.href='@Url.Action("ComandosBarrera", "ControlAcceso", new { idSector = oBalanza.ID_SECTOR, tag = oBarrera1.Descripcion })';return false;">
                    @{
                        int inNroImagenBarrera1 = 0;
                        string strTituloBarrera1 = "";
                        switch (oBarrera1.Estado.VALOR)
                        {
                            case 0:
                            case 6:// (int)Entidades.Constante.BarreraEstado.Deshabilitado:
                                inNroImagenBarrera1 = 5;
                                strTituloBarrera1 = "Deshabilitada";
                                break;
                            case 1:// (int)Entidades.Constante.BarreraEstado.ArribaAuto:
                                inNroImagenBarrera1 = 1;
                                strTituloBarrera1 = "Arriba Automático";
                                break;
                            case 2:// (int)Entidades.Constante.BarreraEstado.AbajoAuto:
                                inNroImagenBarrera1 = 2;
                                strTituloBarrera1 = "Abajo Automático";
                                break;
                            case 3:// (int)Entidades.Constante.BarreraEstado.ArribaManual:
                                inNroImagenBarrera1 = 3;
                                strTituloBarrera1 = "Arriba Manual";
                                break;
                            case 4:// (int)Entidades.Constante.BarreraEstado.AbajoManual:
                                inNroImagenBarrera1 = 4;
                                strTituloBarrera1 = "Abajo Manual";
                                break;
                            case 5:// (int)Entidades.Constante.BarreraEstado.Falla:
                                inNroImagenBarrera1 = 5;
                                strTituloBarrera1 = "Falla";
                                break;
                        }
                        <img src="~/Content/img/Controles/Barrera/@(inNroImagenBarrera1).png" class="h-25 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera ingreso - Estado: @strTituloBarrera1" />
                    }
                </td>
                <td style="padding:0px;width:36.5px!important;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSensor", "ControlAcceso", new { idSector = oBalanza.ID_SECTOR, tag = oSensor1Barrera.Descripcion })';return false;">
                    @{
                        int inNroImagenSensor1 = 0;
                        string strTituloSensor1 = "";
                        switch (oSensor1Barrera.Estado.VALOR)
                        {
                            case 1://(int)Entidades.Constante.EstadoSensor.Deshabilitado:
                                inNroImagenSensor1 = 1;
                                strTituloSensor1 = "Deshabilitado";
                                break;
                            case 2:// (int)Entidades.Constante.EstadoSensor.SensorConPresencia:
                                inNroImagenSensor1 = 3;
                                strTituloSensor1 = "Con presencia";
                                break;
                            case 3:// (int)Entidades.Constante.EstadoSensor.SensorSinPresencia:
                                inNroImagenSensor1 = 2;
                                strTituloSensor1 = "Sin presencia";
                                break;
                            case 4:// (int)Entidades.Constante.EstadoSensor.Falla:
                                inNroImagenSensor1 = 4;
                                strTituloSensor1 = "En falla";
                                break;

                        }
                        <img src="~/Content/img/Controles/Sensor/@(inNroImagenSensor1).png" class="h-25 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor 1 - Estado: @strTituloSensor1" />

                    }
                </td>
                @*<td style="padding:0px;width:36.5px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSensor", "ControlAcceso", new { idSector = oBalanza.ID_SECTOR, tag = oSensor1Posicion.Descripcion })';return false;">
                        @switch (oSensor1Posicion.Estado.VALOR)
                        {
                            case 1://(int)Entidades.Constante.EstadoSensor.Deshabilitado:
                                <img src="~/Content/img/Controles/Sensor/1.png" class="h-25 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="S1_POSICION - Estado: Deshabilitado" />
                                break;
                            case 2:// (int)Entidades.Constante.EstadoSensor.SensorConPresencia:
                                <img src="~/Content/img/Controles/Sensor/1.png" class="h-25 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="S1_POSICION - Estado: Con Presencia" />
                                break;
                            case 3:// (int)Entidades.Constante.EstadoSensor.SensorSinPresencia:
                                <img src="~/Content/img/Controles/Sensor/2.png" class="h-25 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="S1_POSICION - Estado: Sin Presencia" />
                                break;
                            case 4:// (int)Entidades.Constante.EstadoSensor.Falla:
                                <img src="~/Content/img/Controles/Sensor/1.png" class="h-25 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="S1_POSICION - Estado: Falla" />
                                break;
                        }
                    </td>*@
                <td class="NoPintarCelda" style="vertical-align: bottom; padding:0px; text-align:center; align-items:center;">
                    <div id="@(oBalanza.Estado.ID_SECTOR.ToString() + "Balanza")">
                        <div class="row justify-content-center">
                            <table class="table" style="width:506px;margin:0px">
                                <tbody>
                                    <tr>
                                        <td style="padding:0px">
                                            <div class="text-center">
                                                <div class="">
                                                    <button class="btn btn-primary btn-sm" id="btnBalanza" data-toggle="modal" data-target="#modalBalanza" onclick="location.href='@Url.Action("CabezalBalanza", "ControlAcceso", new { idSector = oBalanza.ID_SECTOR })';return false;">
                                                        @oBalanza.Descripcion
                                                        <i class="fa fa-fw fa-gear"></i>
                                                    </button>
                                                </div>
                                                <div id="pesoBalanza" class="font-weight-bold">
                                                    Peso: @oBalanza.Peso.VALOR KG
                                                </div>
                                                <div id="estadoBalanza" class="font-weight-bold">
                                                    @{
                                                        switch (oBalanza.Estado.VALOR)
                                                        {
                                                            case 0:
                                                                @:Estado: @oBalanza.Estado.VALOR - Balanza en reposo.
                                                                break;
                                                            case 10:
                                                                @:Estado: @oBalanza.Estado.VALOR - Habilitado ingreso.
                                                                break;
                                                            case 20:
                                                                @:Estado: @oBalanza.Estado.VALOR - Cerrando barrera ingreso.
                                                                break;
                                                            case 30:
                                                                @:Estado: @oBalanza.Estado.VALOR - Avance camión.
                                                                break;
                                                            case 40:
                                                                @:Estado: @oBalanza.Estado.VALOR - Retroceso camión.
                                                                break;
                                                            case 50:
                                                                @:Estado: @oBalanza.Estado.VALOR - Estabilizando peso.
                                                                break;
                                                            case 60:
                                                                @:Estado: @oBalanza.Estado.VALOR - PESO MÁXIMO.
                                                                break;
                                                            case 70:
                                                                @:Estado: @oBalanza.Estado.VALOR - Pesando.
                                                                break;
                                                            case 80:
                                                                @:Estado: @oBalanza.Estado.VALOR - ERROR.
                                                                break;
                                                            case 90:
                                                                @:Estado: @oBalanza.Estado.VALOR - Habilitada salida.
                                                                break;
                                                            case 100:
                                                                @:Estado: @oBalanza.Estado.VALOR - Bajando barrera egreso.
                                                                break;
                                                            case 1000:
                                                                @:Estado: @oBalanza.Estado.VALOR - Manual
                                                                break;
                                                            case 1002:
                                                                @:Estado: @oBalanza.Estado.VALOR - DESHABILITADA
                                                                break;
                                                        }
                                                    }
                                                </div>
                                                <div id="estadoOldBalanza">
                                                    @{
                                                        switch (oBalanza.Estado.VALOR)
                                                        {
                                                            case 0:
                                                                @:Estado anterior: @oBalanza.EstadoOld.VALOR - Barrera ingreso cerrada.
                                                                break;
                                                            case 10:
                                                                @:Estado anterior: @oBalanza.EstadoOld.VALOR - Habilitado ingreso.
                                                                break;
                                                            case 20:
                                                                @:Estado anterior: @oBalanza.EstadoOld.VALOR - Cerrando barrera ingreso.
                                                                break;
                                                            case 30:
                                                                @:Estado anterior: @oBalanza.EstadoOld.VALOR - Avance camión.
                                                                break;
                                                            case 40:
                                                                @:Estado anterior: @oBalanza.EstadoOld.VALOR - Retroceso camión.
                                                                break;
                                                            case 50:
                                                                @:Estado anterior: @oBalanza.EstadoOld.VALOR - Estabilizando peso.
                                                                break;
                                                            case 60:
                                                                @:Estado anterior: @oBalanza.EstadoOld.VALOR - PESO MÁXIMO.
                                                                break;
                                                            case 70:
                                                                @:Estado anterior: @oBalanza.EstadoOld.VALOR - Pesando.
                                                                break;
                                                            case 80:
                                                                @:Estado anterior: @oBalanza.EstadoOld.VALOR - ERROR.
                                                                break;
                                                            case 90:
                                                                @:Estado anterior: @oBalanza.EstadoOld.VALOR - Habilitada salida.
                                                                break;
                                                            case 100:
                                                                @:Estado anterior: @oBalanza.EstadoOld.VALOR - Bajando barrera egreso.
                                                                break;
                                                            case 1000:
                                                                @:Estado anterior: @oBalanza.EstadoOld.VALOR - Manual
                                                                break;
                                                            case 1002:
                                                                @:Estado anterior: @oBalanza.EstadoOld.VALOR - DESHABILITADA
                                                                break;
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <hr style="margin:0px">
                                            <div class="row justify-content-center">
                                                <div>

                                                    @{
                                                        if ((bool)oBalanza.dbErrorBal.VALOR)
                                                        {
                                                            <label class="label">
                                                                <b>
                                                                    Error:
                                                                </b>
                                                            </label>
                                                            <button class="btn btn-danger"></button>
                                                        }
                                                        else
                                                        {
                                                            <label class="label">Error: </label>
                                                            <button class="btn btn-dark"></button>
                                                        }
                                                    }
                                                </div>
                                                <div class="">
                                                    <label class="label">&nbsp Peso negativo: </label>
                                                    @{
                                                        if ((bool)oBalanza.dbPesoNegativo.VALOR)
                                                        {
                                                            <button class="btn btn-danger"></button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-dark"></button>
                                                        }
                                                    }
                                                </div>
                                                <div class="">
                                                    <label class="label">&nbsp Fuera de rango: </label>
                                                    @{
                                                        if ((bool)oBalanza.dbFueraRango.VALOR)
                                                        {
                                                            <button class="btn btn-danger"></button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-dark"></button>
                                                        }
                                                    }
                                                </div>
                                                <div class="">
                                                    <label class="label">&nbsp Peso estable: </label>
                                                    @{
                                                        if ((bool)oBalanza.dbPesoEstable.VALOR)
                                                        {
                                                            <button class="btn btn-success"></button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-dark"></button>
                                                        }
                                                    }
                                                </div>
                                                <div class="">
                                                    <label class="label">&nbsp Peso neto: </label>
                                                    @{
                                                        if ((bool)oBalanza.dbPesoNeto.VALOR)
                                                        {
                                                            <button class="btn btn-success"></button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-danger"></button>
                                                        }
                                                    }
                                                </div>
                                                <div class="">
                                                    <label class="label">&nbsp Fuera de equilibrio: </label>
                                                    @{
                                                        if ((bool)oBalanza.dbFueraEquilibrio.VALOR)
                                                        {
                                                            <button class="btn btn-danger"></button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-dark"></button>
                                                        }
                                                    }
                                                </div>
                                                <div class="">
                                                    <label class="label">&nbsp Peso máximo: </label>
                                                    @{
                                                        if ((bool)oBalanza.dbPesoMaximoBal.VALOR)
                                                        {
                                                            <button class="btn btn-danger"></button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-dark"></button>
                                                        }
                                                    }
                                                </div>
                                                <div class="">
                                                    <label class="label">&nbsp Peso menor a la dif. de estabilidad: </label>
                                                    @{
                                                        if ((bool)oBalanza.dbPesoMenorDifEstabilidad.VALOR)
                                                        {
                                                            <button class="btn btn-success"></button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-dark"></button>
                                                        }
                                                    }
                                                </div>
                                                <div class="">
                                                    <label class="label">&nbsp Peso mayor a 500 kg: </label>
                                                    @{
                                                        if ((bool)oBalanza.dbPesoMayor500.VALOR)
                                                        {
                                                            <button class="btn btn-success"></button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-dark"></button>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    @*<img src="~/Content/img/Controles/Balanza/Balanza.png" class="h-25 d-inline-block" />*@
                </td>
                @*<td style="padding:0px;width:36.5px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSensor", "ControlAcceso", new { idSector = oBalanza.ID_SECTOR, tag = oSensor2Posicion.Descripcion })';return false;">
                        @switch (oSensor2Posicion.Estado.VALOR)
                        {
                            case 1://(int)Entidades.Constante.EstadoSensor.Deshabilitado:
                                <img src="~/Content/img/Controles/Sensor/1.png" class="h-25 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="S2_POSICION - Estado: Deshabilitado" />
                                break;
                            case 2:// (int)Entidades.Constante.EstadoSensor.SensorConPresencia:
                                <img src="~/Content/img/Controles/Sensor/1.png" class="h-25 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="S2_POSICION - Estado: Con Presencia" />
                                break;
                            case 3:// (int)Entidades.Constante.EstadoSensor.SensorSinPresencia:
                                <img src="~/Content/img/Controles/Sensor/2.png" class="h-25 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="S2_POSICION - Estado: Sin Presencia" />
                                break;
                            case 4:// (int)Entidades.Constante.EstadoSensor.Falla:
                                <img src="~/Content/img/Controles/Sensor/1.png" class="h-25 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="S2_POSICION - Estado: Falla" />
                                break;
                        }
                    </td>*@
                <td style="padding:0px;width:36.5px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSensor", "ControlAcceso", new { idSector = oBalanza.ID_SECTOR, tag = oSensor2Barrera.Descripcion })';return false;">
                    @{
                        int inNroImagenSensor2 = 0;
                        string strTituloSensor2 = "";
                        switch (oSensor1Barrera.Estado.VALOR)
                        {
                            case 1://(int)Entidades.Constante.EstadoSensor.Deshabilitado:
                                inNroImagenSensor2 = 1;
                                strTituloSensor2 = "Deshabilitado";
                                break;
                            case 2:// (int)Entidades.Constante.EstadoSensor.SensorConPresencia:
                                inNroImagenSensor2 = 3;
                                strTituloSensor2 = "Con presencia";
                                break;
                            case 3:// (int)Entidades.Constante.EstadoSensor.SensorSinPresencia:
                                inNroImagenSensor2 = 2;
                                strTituloSensor2 = "Sin presencia";
                                break;
                            case 4:// (int)Entidades.Constante.EstadoSensor.Falla:
                                inNroImagenSensor2 = 4;
                                strTituloSensor2 = "En falla";
                                break;

                        }
                        <img src="~/Content/img/Controles/Sensor/@(inNroImagenSensor2).png" class="h-25 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor 1 - Estado: @strTituloSensor2" />

                    }
                </td>
                <td style="padding:0px;width:36.5px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosBarrera", "ControlAcceso", new { idSector = oBalanza.ID_SECTOR, tag = oBarrera2.Descripcion })';return false;">
                    @{
                        int inNroImagenBarrera2 = 0;
                        string strTituloBarrera2 = "";
                        switch (oBarrera1.Estado.VALOR)
                        {
                            case 0:
                            case (int)Entidades.Constante.BarreraEstado.Deshabilitado:
                                inNroImagenBarrera2 = 5;
                                strTituloBarrera2 = "Deshabilitada";
                                break;
                            case (int)Entidades.Constante.BarreraEstado.ArribaAuto:
                                inNroImagenBarrera2 = 1;
                                strTituloBarrera2 = "Arriba Automático";
                                break;
                            case (int)Entidades.Constante.BarreraEstado.AbajoAuto:
                                inNroImagenBarrera2 = 2;
                                strTituloBarrera2 = "Abajo Automático";
                                break;
                            case (int)Entidades.Constante.BarreraEstado.ArribaManual:
                                inNroImagenBarrera2 = 3;
                                strTituloBarrera2 = "Arriba Manual";
                                break;
                            case (int)Entidades.Constante.BarreraEstado.AbajoManual:
                                inNroImagenBarrera2 = 4;
                                strTituloBarrera2 = "Abajo Manual";
                                break;
                            case (int)Entidades.Constante.BarreraEstado.Falla:
                                inNroImagenBarrera2 = 5;
                                strTituloBarrera2 = "Falla";
                                break;
                        }
                        <img src="~/Content/img/Controles/Barrera/@(inNroImagenBarrera2).png" class="h-25 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera ingreso - Estado: @strTituloBarrera2" />
                    }

                </td>

            </tr>


        </tbody>
    </table>
</div>
<br />