﻿
@{
    Layout = null;
    Entidades.Sensor oSensorLectura = ViewBag.oSensorLectura;
    Entidades.Semaforo oSemaforo = ViewBag.oSemaforo;
    Entidades.SECTOR oSectorCalado = ViewBag.oSector;
    int inEstadoLector = ViewBag.inEstadoLector;

}

<style>
    .table-hover-cells > tbody > tr > th:hover,
    .table-hover-cells > tbody > tr > td:hover {
        background-color: #E0E0E0;
    }

    .table-hover-cells > tbody > tr > th.active:hover,
    .table-hover-cells > tbody > tr > td.active:hover,
    .table-hover-cells > tbody > tr.active > th:hover,
    .table-hover-cells > tbody > tr.active > td:hover {
        background-color: #d8d8d8;
    }

    .table-hover-cells > tbody > tr > td.NoPintarCelda:hover {
        background-color: #F8F9FC;
    }

    .table-hover.table-hover-cells > tbody > tr:hover > th:hover,
    .table-hover.table-hover-cells > tbody > tr:hover > td:hover {
        background-color: #e8e8e8;
    }

    .table-hover.table-hover-cells > tbody > tr.active:hover > th:hover,
    .table-hover.table-hover-cells > tbody > tr.active:hover > td:hover {
        background-color: #d8d8d8;
    }
</style>

<h4 style="width:100%;">
    @oSectorCalado.ID_SECTOR - @oSectorCalado.DESCRIPCION
</h4>

<table class="table table-hover-cells">
    <tbody>
        <tr>
            @{
                if (oSensorLectura.Estado.VALOR > 0)
                {
                    <td style="padding:10px;width:73px;cursor:pointer;">

                        @{
                            var titulo = "";
                            switch (oSensorLectura.Estado.VALOR)
                            {
                                case 1:
                                    titulo = "Con Presencia";
                                    break;
                                case 2:
                                    titulo = "Sin Presencia";
                                    break;
                            }
                            <img src="~/Content/img/Controles/Espira/@(oSensorLectura.Estado.VALOR).png" title="Espira estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                        }

                    </td>
                }
            }
            @{
                if (inEstadoLector < 4)
                {
                    <td style="padding:10px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("Editar", "LECTOR_RFID", new { id = oSectorCalado.ID_SECTOR })';return false;">
                        @{
                            var titulo = "";
                            switch (inEstadoLector)
                            {
                                case (int)Entidades.Constante.IdEstadoLector.desconectado:
                                    titulo = "Desconectado";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.sinLectura:
                                    titulo = "Sin lectura";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.leyendo:
                                    titulo = "Leyendo";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.lecturaTAG:
                                    titulo = "Lectura de TAG";
                                    break;
                            }
                            <img src="~/Content/img/Controles/Antena/@(inEstadoLector).png" title="Estado Lector = @titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                        }
                    </td>
                }
                else
                {

                }
            }
            <td style="padding:0px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSemaforo", "ControlAcceso", new { idSector = oSectorCalado.ID_SECTOR, tag="SEMAFORO" })';return false;">
                @if (oSemaforo.estado.VALOR > 0)
                {
                    var titulo = "";
                    switch ((int)oSemaforo.estado.VALOR)
                    {
                        case 1:
                            titulo = "ROJO";
                            break;
                        case 2:
                            titulo = "VERDE";
                            break;
                        case 3:
                            titulo = "APAGADO";
                            break;
                    }
                    <img src="~/Content/img/Controles/Semaforo/@(oSemaforo.estado.VALOR).png" title="Semaforo1 estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                }
            </td>



        </tr>
        <tr>
            @{
                if (oSensorLectura.Estado.VALOR > 0)
                {
                    <td style="padding:10px;width:73px;cursor:pointer;">

                        @{
                            var titulo = "";
                            switch ((int)oSensorLectura.Estado.VALOR)
                            {
                                case 1:
                                    titulo = " Con Presencia ";
                                    break;
                                case 2:
                                    titulo = " Sin Presencia ";
                                    break;
                            }
                            @titulo;
                        }

                    </td>
                }
            }
            @{
                if (inEstadoLector < 4)
                {
                    <td style="padding:10px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("Editar", "LECTOR_RFID", new { id = oSectorCalado.ID_SECTOR })';return false;">
                        @{
                            var titulo = "";
                            switch (inEstadoLector)
                            {
                                case (int)Entidades.Constante.IdEstadoLector.desconectado:
                                    titulo = "Desconectado";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.sinLectura:
                                    titulo = "Sin lectura";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.leyendo:
                                    titulo = "Leyendo";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.lecturaTAG:
                                    titulo = "Lectura de TAG";
                                    break;
                            }
                            @titulo;
                        }
                    </td>
                }
            }

            <td style="padding:0px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("Semaforo", "ControlAcceso", new { idSector = oSectorCalado.ID_SECTOR })';return false;">
                @if (oSemaforo.estado.VALOR > 0)
                {
                    var titulo3 = "";
                    switch ((int)oSemaforo.estado.VALOR)
                    {
                        case 1:
                            titulo3 = "ROJO";
                            break;
                        case 2:
                            titulo3 = "VERDE";
                            break;
                        case 3:
                            titulo3 = "APAGADO";
                            break;
                    }
                    @titulo3;
                }
            </td>



        </tr>
    </tbody>
</table>