﻿<div class="container" style="padding:0px;">
    @{
        Entidades.SECTOR oSector = ViewBag.oSector;
        Entidades.Barrera oBarrera = new Entidades.Barrera();
        Entidades.Barrera oBarrera1 = new Entidades.Barrera();
        Entidades.Barrera oBarrera2 = new Entidades.Barrera();
        Entidades.Sensor oSensorBarrera = new Entidades.Sensor();
        Entidades.Sensor oSensor1Barrera = new Entidades.Sensor();
        Entidades.Sensor oSensor2Barrera = new Entidades.Sensor();

        switch (oSector.ID_SECTOR)
        {
            case 430: //Doble barrera
                oBarrera1 = ViewBag.oBarrera1;
                oBarrera2 = ViewBag.oBarrera2;
                oSensor1Barrera = ViewBag.oSensor1Barrera;
                oSensor2Barrera = ViewBag.oSensor2Barrera;
                break;

            case 460: //Barrera simple
                oBarrera = ViewBag.oBarrera;
                oSensorBarrera = ViewBag.oSensorBarrera;
                break;
        }

    }

    <style>
        .table-hover-cells > tbody > tr > th:hover,
        .table-hover-cells > tbody > tr > td:hover {
            background-color: #E0E0E0;
        }

        .table-hover-cells > tbody > tr > th.active:hover,
        .table-hover-cells > tbody > tr > td.active:hover,
        .table-hover-cells > tbody > tr.active > th:hover,
        .table-hover-cells > tbody > tr.active > td:hover {
            background-color: #d8d8d8;
        }

        .table-hover-cells > tbody > tr > td.NoPintarCelda:hover {
            background-color: #F8F9FC;
        }

        .table-hover.table-hover-cells > tbody > tr:hover > th:hover,
        .table-hover.table-hover-cells > tbody > tr:hover > td:hover {
            background-color: #e8e8e8;
        }

        .table-hover.table-hover-cells > tbody > tr.active:hover > th:hover,
        .table-hover.table-hover-cells > tbody > tr.active:hover > td:hover {
            background-color: #d8d8d8;
        }
    </style>
    <table class="table table-hover-cells">
        <tbody>
            <tr class="d-flex">
                @switch (oSector.ID_SECTOR)
                {

                    case 430: //Doble barrera
                        <td style="padding:0px;width:73px;height:413px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosBarrera", "ControlAcceso", new { idSector = oSector.ID_SECTOR, tag=oBarrera1.Descripcion })';return false;">
                            @switch (oBarrera1.Estado.VALOR)
                            {
                                case (int)Entidades.Constante.BarreraEstado.ArribaAuto:
                                    <img src="~/Content/img/Controles/Barrera/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera1 - Estado: Arriba Automático" style="padding:3px;" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.ArribaManual:
                                    <img src="~/Content/img/Controles/Barrera/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera1 - Estado: Arriba Manual" style="padding:3px;" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.AbajoAuto:
                                    <img src="~/Content/img/Controles/Barrera/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera1 - Estado: Abajo Automático" style="padding:3px;" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.AbajoManual:
                                    <img src="~/Content/img/Controles/Barrera/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera1 - Estado: Abajo Manual" style="padding:3px;" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.Falla:
                                    <img src="~/Content/img/Controles/Barrera/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera1 - Estado: Falla" style="padding:3px;" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.Deshabilitado:
                                case 0:
                                    <img src="~/Content/img/Controles/Barrera/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera1 - Estado: Deshabilitada" />
                                    break;
                            }
                        </td>
                        <td style="padding:0px;width:73px;height:413px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSensor", "ControlAcceso", new { idSector = oSensor1Barrera.Estado.ID_SECTOR, tag=oSensor1Barrera.Descripcion })';return false;">
                            @switch (oSensor1Barrera.Estado.VALOR)
                            {
                                case (int)Entidades.Constante.EstadoSensor.Deshabilitado:
                                    <img src="~/Content/img/Controles/Sensor/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor1Barrera - Estado: Deshabilitado" />
                                    break;
                                case (int)Entidades.Constante.EstadoSensor.SensorConPresencia:
                                    <img src="~/Content/img/Controles/Sensor/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor1Barrera - Estado: Con Presencia" />
                                    break;
                                case (int)Entidades.Constante.EstadoSensor.Falla:
                                    <img src="~/Content/img/Controles/Sensor/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor1Barrera - Estado: Falla" />
                                    break;
                                case (int)Entidades.Constante.EstadoSensor.SensorSinPresencia:
                                    <img src="~/Content/img/Controles/Sensor/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor1Barrera - Estado: Sin Presencia" />
                                    break;
                            }
                        </td>
                        <td style="padding:0px;width:73px;height:413px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSensor", "ControlAcceso", new { idSector = oSensor2Barrera.Estado.ID_SECTOR, tag=oSensor2Barrera.Descripcion })';return false;">
                            @switch (oSensor2Barrera.Estado.VALOR)
                            {
                                case (int)Entidades.Constante.EstadoSensor.Deshabilitado:
                                    <img src="~/Content/img/Controles/Sensor/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor1Barrera - Estado: Deshabilitado" />
                                    break;
                                case (int)Entidades.Constante.EstadoSensor.SensorConPresencia:
                                    <img src="~/Content/img/Controles/Sensor/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor1Barrera - Estado: Con Presencia" />
                                    break;
                                case (int)Entidades.Constante.EstadoSensor.Falla:
                                    <img src="~/Content/img/Controles/Sensor/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor1Barrera - Estado: Falla" />
                                    break;
                                case (int)Entidades.Constante.EstadoSensor.SensorSinPresencia:
                                    <img src="~/Content/img/Controles/Sensor/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor1Barrera - Estado: Sin Presencia" />
                                    break;
                            }
                        </td>
                        <td style="padding:0px;width:73px;height:413px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosBarrera", "ControlAcceso", new { idSector = oSector.ID_SECTOR, tag=oBarrera2.Descripcion })';return false;">
                            @switch (oBarrera2.Estado.VALOR)
                            {
                                case (int)Entidades.Constante.BarreraEstado.ArribaAuto:
                                    <img src="~/Content/img/Controles/Barrera/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera2 - Estado: Arriba Automático" style="-webkit-transform: scaleX(-1);padding:3px;" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.ArribaManual:
                                    <img src="~/Content/img/Controles/Barrera/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera2 - Estado: Arriba Manual" style="-webkit-transform: scaleX(-1);padding:3px;" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.AbajoAuto:
                                    <img src="~/Content/img/Controles/Barrera/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera2 - Estado: Abajo Automático" style="-webkit-transform: scaleX(-1);padding:3px;" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.AbajoManual:
                                    <img src="~/Content/img/Controles/Barrera/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera2 - Estado: Abajo Manual" style="-webkit-transform: scaleX(-1);padding:3px;" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.Falla:
                                    <img src="~/Content/img/Controles/Barrera/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera2 - Estado: Falla" style="-webkit-transform: scaleX(-1);padding:3px;" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.Deshabilitado:
                                case 0:
                                    <img src="~/Content/img/Controles/Barrera/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera1 - Estado: Deshabilitada" />
                                    break;
                            }
                        </td>
                        break;

                    case 460: //Barrera simple
                        <td style="padding:0px;width:73px;height:413px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosBarrera", "ControlAcceso", new { idSector = oSector.ID_SECTOR, tag=oBarrera.Descripcion })';return false;">
                            @switch (oBarrera.Estado.VALOR)
                            {
                                case (int)Entidades.Constante.BarreraEstado.ArribaAuto:
                                    <img src="~/Content/img/Controles/Barrera/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera1 - Estado: Arriba Automático" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.ArribaManual:
                                    <img src="~/Content/img/Controles/Barrera/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera1 - Estado: Arriba Manual" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.AbajoAuto:
                                    <img src="~/Content/img/Controles/Barrera/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera1 - Estado: Abajo Automático" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.AbajoManual:
                                    <img src="~/Content/img/Controles/Barrera/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera1 - Estado: Abajo Manual" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.Falla:
                                    <img src="~/Content/img/Controles/Barrera/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera1 - Estado: Falla" />
                                    break;
                                case (int)Entidades.Constante.BarreraEstado.Deshabilitado:
                                case 0:
                                    <img src="~/Content/img/Controles/Barrera/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Barrera1 - Estado: Deshabilitada" />
                                    break;
                            }
                        </td>
                        <td style="padding:0px;width:73px;height:413px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSensor", "ControlAcceso", new { idSector = oSensorBarrera.Estado.ID_SECTOR, tag=oSensorBarrera.Descripcion })';return false;">
                            @switch (oSensorBarrera.Estado.VALOR)
                            {
                                case (int)Entidades.Constante.EstadoSensor.Deshabilitado:
                                    <img src="~/Content/img/Controles/Sensor/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor1Barrera - Estado: Deshabilitado" />
                                    break;
                                case (int)Entidades.Constante.EstadoSensor.SensorConPresencia:
                                    <img src="~/Content/img/Controles/Sensor/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor1Barrera - Estado: Con Presencia" />
                                    break;
                                case (int)Entidades.Constante.EstadoSensor.Falla:
                                    <img src="~/Content/img/Controles/Sensor/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor1Barrera - Estado: Falla" />
                                    break;
                                case (int)Entidades.Constante.EstadoSensor.SensorSinPresencia:
                                    <img src="~/Content/img/Controles/Sensor/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor1Barrera - Estado: Sin Presencia" />
                                    break;
                            }
                        </td>
                        break;
                }
            </tr>
            <tr class="d-flex">
                @switch (oSector.ID_SECTOR)
                {

                    case 430: //Doble barrera
                        <td style="padding:0px;width:73px;height:413px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosBarrera", "ControlAcceso", new { idSector = oSector.ID_SECTOR, tag = oBarrera1.Descripcion })';return false;">
                            @{ var titulo = "";

                                switch (oBarrera1.Estado.VALOR)
                                {
                                    case (int)Entidades.Constante.BarreraEstado.ArribaAuto:
                                        titulo = " Arriba Autom. ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.ArribaManual:
                                        titulo = " Arriba Manual ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.AbajoAuto:
                                        titulo = " Abajo Autom. ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.AbajoManual:
                                        titulo = " Abajo Manual ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.Falla:
                                        titulo = " Falla ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.Deshabilitado:
                                    case 0:
                                        titulo = " Deshabilitado ";
                                        break;
                                }
                                @titulo;
                            }
                        </td>
                        <td style="padding:0px;width:73px;height:413px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSensor", "ControlAcceso", new { idSector = oSensor1Barrera.Estado.ID_SECTOR, tag = oSensor1Barrera.Descripcion })';return false;">
                            @{ var titulo2 = "";
                                switch (oSensor1Barrera.Estado.VALOR)
                                {
                                    case (int)Entidades.Constante.EstadoSensor.Deshabilitado:
                                        titulo2 = " Deshabilitado ";
                                        break;
                                    case (int)Entidades.Constante.EstadoSensor.SensorConPresencia:
                                        titulo2 = " Sensor con presencia ";
                                        break;
                                    case (int)Entidades.Constante.EstadoSensor.Falla:
                                        titulo2 = " Falla ";
                                        break;
                                    case (int)Entidades.Constante.EstadoSensor.SensorSinPresencia:
                                        titulo2 = " Sensor sin presencia ";
                                        break;
                                }
                                @titulo2;
                            }
                        </td>
                        <td style="padding:0px;width:73px;height:413px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSensor", "ControlAcceso", new { idSector = oSensor2Barrera.Estado.ID_SECTOR, tag = oSensor2Barrera.Descripcion })';return false;">
                            @{ var titulo3 = "";
                                switch (oSensor2Barrera.Estado.VALOR)
                                {
                                    case (int)Entidades.Constante.EstadoSensor.Deshabilitado:
                                        titulo3 = " Deshabilitado ";
                                        break;
                                    case (int)Entidades.Constante.EstadoSensor.SensorConPresencia:
                                        titulo3 = " Sensor con presencia ";
                                        break;
                                    case (int)Entidades.Constante.EstadoSensor.Falla:
                                        titulo3 = " Falla ";
                                        break;
                                    case (int)Entidades.Constante.EstadoSensor.SensorSinPresencia:
                                        titulo3 = " Sensor sin presencia ";
                                        break;
                                }
                                @titulo3;
                            }
                        </td>
                        <td style="padding:0px;width:73px;height:413px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosBarrera", "ControlAcceso", new { idSector = oSector.ID_SECTOR, tag = oBarrera2.Descripcion })';return false;">
                            @{ var titulo4 = "";
                                switch (oBarrera2.Estado.VALOR)
                                {
                                    case (int)Entidades.Constante.BarreraEstado.ArribaAuto:
                                        titulo4 = " Arriba Autom. ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.ArribaManual:
                                        titulo4 = " Arriba Manual ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.AbajoAuto:
                                        titulo4 = " Abajo Autom. ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.AbajoManual:
                                        titulo4 = " Abajo Manual ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.Falla:
                                        titulo4 = " Falla ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.Deshabilitado:
                                    case 0:
                                        titulo4 = " Deshabilitado ";
                                        break;
                                }
                                @titulo4;
                            }
                        </td>
                                    break;

                                case 460: //Barrera simple
                        <td style="padding:0px;width:73px;height:413px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosBarrera", "ControlAcceso", new { idSector = oSector.ID_SECTOR, tag = oBarrera.Descripcion })';return false;">
                            @{ var titulo5 = "";
                                switch (oBarrera.Estado.VALOR)
                                {
                                    case (int)Entidades.Constante.BarreraEstado.ArribaAuto:
                                        titulo5 = " Arriba Autom. ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.ArribaManual:
                                        titulo5 = " Arriba Manual ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.AbajoAuto:
                                        titulo5 = " Abajao Autom. ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.AbajoManual:
                                        titulo5 = " Abajo Manual ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.Falla:
                                        titulo5 = " Falla ";
                                        break;
                                    case (int)Entidades.Constante.BarreraEstado.Deshabilitado:
                                    case 0:
                                        titulo5 = " Deshabilitado ";
                                        break;
                                }
                                @titulo5;
                            }
                        </td>
                        <td style="padding:0px;width:73px;height:413px;cursor:pointer;" onclick="location.href='@Url.Action("ComandosSensor", "ControlAcceso", new { idSector = oSensorBarrera.Estado.ID_SECTOR, tag = oSensorBarrera.Descripcion })';return false;">
                            @{ var titulo6 = "";
                                switch (oSensorBarrera.Estado.VALOR)
                                {
                                    case (int)Entidades.Constante.EstadoSensor.Deshabilitado:
                                        titulo6 = " Deshabilitado ";
                                        break;
                                    case (int)Entidades.Constante.EstadoSensor.SensorConPresencia:
                                        titulo6 = " Sensor con presencia ";
                                        break;
                                    case (int)Entidades.Constante.EstadoSensor.Falla:
                                        titulo6 = " Falla ";
                                        break;
                                    case (int)Entidades.Constante.EstadoSensor.SensorSinPresencia:
                                        titulo6 = "Sensor sin presencia ";
                                        break;
                                }
                                @titulo6;
                             }
                        </td>
                        break;
                }
            </tr>
        </tbody>
    </table>
</div>

