﻿
@{
    Layout = null;
    Entidades.Sensor oSensorLectura = ViewBag.oSensorLectura;
    Entidades.Descarga oDescarga = ViewBag.oDescarga;
    Entidades.SECTOR oSector = ViewBag.oSector;
    Entidades.Semaforo oSemaforo = ViewBag.oSemaforo;
    int inEstadoLectorIngreso = ViewBag.inEstadoLectorIngreso;
    int inEstadoLectorEgreso = ViewBag.inEstadoLectorEgreso;
    int _idSectorEgreso = oSector.ID_SECTOR + 1; // el id de sector egreso es un numero mas
}

<style>
    .table-hover-cells > tbody > tr > th:hover,
    .table-hover-cells > tbody > tr > td:hover {
        background-color: #E0E0E0;
    }

    .table-hover-cells > tbody > tr > th.active:hover,
    .table-hover-cells > tbody > tr > td.active:hover,
    .table-hover-cells > tbody > tr.active > th:hover,
    .table-hover-cells > tbody > tr.active > td:hover {
        background-color: #d8d8d8;
    }

    .table-hover-cells > tbody > tr > td.NoPintarCelda:hover {
        background-color: #F8F9FC;
    }

    .table-hover.table-hover-cells > tbody > tr:hover > th:hover,
    .table-hover.table-hover-cells > tbody > tr:hover > td:hover {
        background-color: #e8e8e8;
    }

    .table-hover.table-hover-cells > tbody > tr.active:hover > th:hover,
    .table-hover.table-hover-cells > tbody > tr.active:hover > td:hover {
        background-color: #d8d8d8;
    }
</style>



<table class="table table-hover-cells">
    <tbody>
        <tr>
            @{
                if (oSensorLectura.Estado.VALOR > 0)
                {
                    <td style="padding:10px;width:73px;cursor:pointer;">

                        @{
                            var titulo = "";
                            switch (oSensorLectura.Estado.VALOR)
                            {
                                case 1:
                                    titulo = "Con Presencia";
                                    break;
                                case 2:
                                    titulo = "Sin Presencia";
                                    break;
                            }
                            <img src="~/Content/img/Controles/Espira/@(oSensorLectura.Estado.VALOR).png" title="Espira estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                        }

                    </td>
                            }
            }
            @{
                if (inEstadoLectorIngreso < 4)
                {
                    <td style="padding:10px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("Editar", "LECTOR_RFID", new { id = oSector.ID_SECTOR })';return false;">
                        @{
                            var titulo = "";
                            switch (inEstadoLectorIngreso)
                            {
                                case (int)Entidades.Constante.IdEstadoLector.desconectado:
                                    titulo = "Desconectado";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.sinLectura:
                                    titulo = "Sin lectura";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.leyendo:
                                    titulo = "Leyendo";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.lecturaTAG:
                                    titulo = "Lectura de TAG";
                                    break;
                            }
                            <img src="~/Content/img/Controles/Antena/@(inEstadoLectorIngreso).png" title="Estado Lector = @titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                        }
                    </td>
                            }
                            else
                            {

                            }

            }

            <td style="padding:0px;width:20px;cursor:pointer;" onclick="location.href='@Url.Action("Semaforo", "ControlAcceso", new { idSector = oSector.ID_SECTOR })';return false;">
                @if (oSemaforo.estado.VALOR > 0)
                {
                    var titulo = "";
                    switch ((int)oSemaforo.estado.VALOR)
                    {
                        case 1:
                            titulo = "ROJO";
                            break;
                        case 2:
                            titulo = "VERDE";
                            break;
                        case 3:
                            titulo = "APAGADO";
                            break;
                    }
                    <img src="~/Content/img/Controles/Semaforo/@(oSemaforo.estado.VALOR).png" title="Semaforo1 estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                }
            </td>
            <td style="padding:0px;">

                <div class="row justify-content-center" style="text-align:center;">

                    <table class="table table-bordered" style="width:300px;">
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <button class="btn btn-primary" id="btnBalanza" data-toggle="modal" data-target="#modalBalanza" onclick="location.href='@Url.Action("ConfiguracionDescarga", "ControlAcceso", new { idSector = oSector.ID_SECTOR })';return false;">
                                            CONFIGURACIÓN
                                            <i class="fa fa-fw fa-gear"></i>
                                        </button>
                                        <div id="pesoBalanza" class="font-weight-bold">
                                            Plataforma: @oDescarga.estadoPlataforma.VALOR
                                        </div>
                                        <div id="pesoBalanza" class="font-weight-bold">
                                            Motor Principal: @oDescarga.estadoMotorPrincipal.VALOR
                                        </div>
                                        <div id="pesoBalanza" class="font-weight-bold">
                                            Peso Chofer: @oDescarga.pesoChofer.VALOR
                                        </div>
                                        <div id="pesoBalanza" class="font-weight-bold">
                                            Paso: @oDescarga.paso.VALOR
                                        </div>
                                        <div id="pesoBalanza" class="font-weight-bold">
                                            Paso Anterior: @oDescarga.pasoOld.VALOR
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                @if (oDescarga.estadoPlataforma.VALOR > 0)
                {
                    var titulo = "";
                    switch ((int)oDescarga.estadoPlataforma.VALOR)
                    {
                        case 1:
                            <img src="~/Content/img/Controles/Balanza/" title="Semaforo1 estado=@titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                            break;
                        case 2:
                            titulo = "VERDE";
                            break;
                        case 3:
                            titulo = "APAGADO";
                            break;
                    }

                }
            </td>
            @{
                if (inEstadoLectorEgreso < 4)
                {
                    <td style="padding:10px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("Editar", "LECTOR_RFID", new { id = _idSectorEgreso })';return false;">
                        @{
                            var titulo = "";
                            switch (inEstadoLectorEgreso)
                            {
                                case (int)Entidades.Constante.IdEstadoLector.desconectado:
                                    titulo = "Desconectado";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.sinLectura:
                                    titulo = "Sin lectura";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.leyendo:
                                    titulo = "Leyendo";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.lecturaTAG:
                                    titulo = "Lectura de TAG";
                                    break;
                            }
                            <img src="~/Content/img/Controles/Antena/@(inEstadoLectorEgreso).png" title="Estado Lector = @titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                        }
                    </td>
                            }
                            else
                            {

                            }

            }


        </tr>
        <tr>
            @{
                if (oSensorLectura.Estado.VALOR > 0)
                {
                    <td style="padding:10px;width:73px;cursor:pointer;">

                        @{
                            var titulo = "";
                            switch ((int)oSensorLectura.Estado.VALOR)
                            {
                                case 1:
                                    titulo = " Con Presencia ";
                                    break;
                                case 2:
                                    titulo = " Sin Presencia ";
                                    break;
                            }
                            @titulo;
                        }

                    </td>
                            }
            }

            @if (inEstadoLectorIngreso < 4)
            {
                <td style="padding:10px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("Editar", "LECTOR_RFID", new { id = oSector.ID_SECTOR })';return false;">
                    @{
                        var titulo = "";
                        switch (inEstadoLectorIngreso)
                        {
                            case (int)Entidades.Constante.IdEstadoLector.desconectado:
                                titulo = "Desconectado";
                                break;
                            case (int)Entidades.Constante.IdEstadoLector.sinLectura:
                                titulo = "Sin lectura";
                                break;
                            case (int)Entidades.Constante.IdEstadoLector.leyendo:
                                titulo = "Leyendo";
                                break;
                            case (int)Entidades.Constante.IdEstadoLector.lecturaTAG:
                                titulo = "Lectura de TAG";
                                break;
                        }
                        @titulo;
                    }
                </td>
                        }

            <td style="padding:0px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("Semaforo", "ControlAcceso", new { idSector = oSector.ID_SECTOR })';return false;">
                @if (oSemaforo.estado.VALOR > 0)
                {
                    var titulo3 = "";
                    switch ((int)oSemaforo.estado.VALOR)
                    {
                        case 1:
                            titulo3 = "ROJO";
                            break;
                        case 2:
                            titulo3 = "VERDE";
                            break;
                        case 3:
                            titulo3 = "APAGADO";
                            break;
                    }
                    @titulo3;
                }
            </td>
            <td></td>
            @if (inEstadoLectorEgreso < 4)
            {
                <td style="padding:10px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("Editar", "LECTOR_RFID", new { id = oSector.ID_SECTOR })';return false;">
                    @{
                        var titulo = "";
                        switch (inEstadoLectorEgreso)
                        {
                            case (int)Entidades.Constante.IdEstadoLector.desconectado:
                                titulo = "Desconectado";
                                break;
                            case (int)Entidades.Constante.IdEstadoLector.sinLectura:
                                titulo = "Sin lectura";
                                break;
                            case (int)Entidades.Constante.IdEstadoLector.leyendo:
                                titulo = "Leyendo";
                                break;
                            case (int)Entidades.Constante.IdEstadoLector.lecturaTAG:
                                titulo = "Lectura de TAG";
                                break;
                        }
                        @titulo;
                    }
                </td>
                        }

        </tr>
    </tbody>
</table>