﻿

@{
    Layout = null;

    int inEstadoLector = ViewBag.inEstadoLector;
    Entidades.SECTOR oSector = ViewBag.oSector;
}

<style>
    .table-hover-cells > tbody > tr > th:hover,
    .table-hover-cells > tbody > tr > td:hover {
        background-color: #E0E0E0;
    }

    .table-hover-cells > tbody > tr > th.active:hover,
    .table-hover-cells > tbody > tr > td.active:hover,
    .table-hover-cells > tbody > tr.active > th:hover,
    .table-hover-cells > tbody > tr.active > td:hover {
        background-color: #d8d8d8;
    }

    .table-hover-cells > tbody > tr > td.NoPintarCelda:hover {
        background-color: #F8F9FC;
    }

    .table-hover.table-hover-cells > tbody > tr:hover > th:hover,
    .table-hover.table-hover-cells > tbody > tr:hover > td:hover {
        background-color: #e8e8e8;
    }

    .table-hover.table-hover-cells > tbody > tr.active:hover > th:hover,
    .table-hover.table-hover-cells > tbody > tr.active:hover > td:hover {
        background-color: #d8d8d8;
    }
</style>


<table class="table table-hover-cells">
    <tbody>
        <tr>


            @{
                if (inEstadoLector < 4)
                {
                    <td style="padding:10px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("Editar", "LECTOR_RFID", new { id = oSector.ID_SECTOR })';return false;">
                        @{
                            var titulo = "";
                            switch (inEstadoLector)
                            {
                                case (int)Entidades.Constante.IdEstadoLector.desconectado:
                                    titulo = "Desconectado";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.sinLectura:
                                    titulo = "Sin lectura";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.leyendo:
                                    titulo = "Leyendo";
                                    break;
                                case (int)Entidades.Constante.IdEstadoLector.lecturaTAG:
                                    titulo = "Lectura de TAG";
                                    break;
                            }
                            <img src="~/Content/img/Controles/Antena/@(inEstadoLector).png" title="Estado Lector = @titulo" class="h-50 d-inline-block" data-toggle="tooltip" data-placement="bottom" />
                        }
                    </td>
                            }
                            else
                            {

                            }
            }


        </tr>
        <tr>


            @if (inEstadoLector < 4)
            {
                <td style="padding:10px;width:73px;cursor:pointer;" onclick="location.href='@Url.Action("Editar", "LECTOR_RFID", new { id = oSector.ID_SECTOR })';return false;">
                    @{
                        var titulo = "";
                        switch (inEstadoLector)
                        {
                            case (int)Entidades.Constante.IdEstadoLector.desconectado:
                                titulo = "Desconectado";
                                break;
                            case (int)Entidades.Constante.IdEstadoLector.sinLectura:
                                titulo = "Sin lectura";
                                break;
                            case (int)Entidades.Constante.IdEstadoLector.leyendo:
                                titulo = "Leyendo";
                                break;
                            case (int)Entidades.Constante.IdEstadoLector.lecturaTAG:
                                titulo = "Lectura de TAG";
                                break;
                        }
                        @titulo;
                    }
                </td>
                        }


        </tr>
    </tbody>
</table>