﻿<div class="container">
    @{
        Entidades.SECTOR oSector = ViewBag.oSector;
        Entidades.Sensor oSensorLectura = ViewBag.oSensorLectura;
    }
    <style>
        .table-hover-cells > tbody > tr > th:hover,
        .table-hover-cells > tbody > tr > td:hover {
            background-color: #E0E0E0;
        }

        .table-hover-cells > tbody > tr > th.active:hover,
        .table-hover-cells > tbody > tr > td.active:hover,
        .table-hover-cells > tbody > tr.active > th:hover,
        .table-hover-cells > tbody > tr.active > td:hover {
            background-color: #d8d8d8;
        }

        .table-hover-cells > tbody > tr > td.NoPintarCelda:hover {
            background-color: #F8F9FC;
        }

        .table-hover.table-hover-cells > tbody > tr:hover > th:hover,
        .table-hover.table-hover-cells > tbody > tr:hover > td:hover {
            background-color: #e8e8e8;
        }

        .table-hover.table-hover-cells > tbody > tr.active:hover > th:hover,
        .table-hover.table-hover-cells > tbody > tr.active:hover > td:hover {
            background-color: #d8d8d8;
        }
    </style>

    <table class="table table-hover-cells">
        <tbody>
            <tr class="d-flex">
                <td style="padding:0px;width:73px;height:413px;cursor:pointer;">
                    @{
                        switch (oSensorLectura.Estado.VALOR)
                        {
                            case 0:
                                <img src="~/Content/img/Controles/Espira/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor_Lectura - Estado: Error en Base de datos" />
                                break;
                            case (int)Entidades.Constante.TipoLectura.Constante:
                                <img src="~/Content/img/Controles/Espira/2.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor_Lectura - Estado: Lectura Constante" />
                                break;
                            case (int)Entidades.Constante.TipoLectura.Corte_Espira:
                                <img src="~/Content/img/Controles/Espira/1.png" class="h-100 d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Sensor_Lectura - Estado: Corte Espira" />
                                break;
                        }
                    }
                </td>
            </tr>
        </tbody>
    </table>

</div>
