﻿@{
    Entidades.SECTOR oSector = ViewBag.oSector;
}

<div class="table-responsive">
    <table class="table table-borderless">
        <tbody class="text-center">
            <tr>
                <td>
                    <button id="@(oSector.ID_SECTOR.ToString() + "btnHabilitarTodo")" class="btn btn-primary" style="display: inline-block; padding: 5px;float:left;" onclick="GenerarComandoControl('@oSector.ID_SECTOR',' ', '@Convert.ToInt16(Entidades.Constante.TIPO_COMANDO.HABILITAR_TODO)');">
                        Habilitar Todo
                    </button>
                </td>
                <td>
                    <button id="@(oSector.ID_SECTOR.ToString() + "btnReiniciarSector")" class="btn btn-warning" style="display: inline-block; padding: 5px;float:right" onclick="GenerarComandoControl('@oSector.ID_SECTOR',' ', '@Convert.ToInt16(Entidades.Constante.TIPO_COMANDO.REINICIAR_SECTOR)');">
                        Reiniciar Sector
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>