﻿@model Entidades.DATO_WORDINT

@{
    ViewBag.Title = "Semaforo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var estadoSemaforo = ViewBag.estadoSemaforo;
    var estadoSemaforo1 = ViewBag.estadoSemaforo1;
    var estadoSemaforo2 = ViewBag.estadoSemaforo2;

}

<h2>Semaforo</h2>
<script src="~/Scripts/Comandos.js"></script>
<div class="modal-body text-center">
    <div id="EstadoSEMAFOROS" style="font-size:xx-large">
        Sector: @Model.ID_SECTOR
        -
        PLC: @Model.FK_PLC
    </div>
    @if (estadoSemaforo != null)
    {
        <hr />
        <div id="Habilitacion">
            <b>
                <label class="label" style="font-size:x-large">Comandos Semaforo </label>
            </b>
            <div id="botonesHabilitacion">
                <button type="button" class="btn btn-lg btn-success" id="btnHabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',1,'SEMAFORO.Comando')">
                    Verde
                </button>
                <button type="button" class="btn btn-lg btn-danger" id="btnDeshabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',2,'SEMAFORO.Comando')">
                    Rojo
                </button>
                <button type="button" class="btn btn-lg btn-dark" id="btnHabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',3,'SEMAFORO.Comando')">
                    Intermitente
                </button>

            </div>
        </div>
        <hr />
    }
    @if (estadoSemaforo1 != null)
    {
        <hr />
        <div id="Habilitacion">
            <b>
                <label class="label" style="font-size:x-large">Comandos Semaforo 1 </label>
            </b>
            <div id="botonesHabilitacion">
                <button type="button" class="btn btn-lg btn-success" id="btnHabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',1,'SEMAFORO1.Comando')">
                    Verde
                </button>
                <button type="button" class="btn btn-lg btn-danger" id="btnDeshabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',2,'SEMAFORO1.Comando')">
                    Rojo
                </button>
                <button type="button" class="btn btn-lg btn-dark" id="btnHabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',3,'SEMAFORO1.Comando')">
                    Intermitente
                </button>

            </div>
        </div>
                                <hr />
    }
    @if (estadoSemaforo2 != null)
    {
        <hr />

        <div id="Habilitacion">
            <b>
                <label class="label" style="font-size:x-large">Comandos Semaforo 2 </label>
            </b>
            <div id="botonesHabilitacion">
                <button type="button" class="btn btn-lg btn-success" id="btnHabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',3,'SEMAFORO2.Comando')">
                    Verde
                </button>
                <button type="button" class="btn btn-lg btn-danger" id="btnDeshabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',2,'SEMAFORO2.Comando')">
                    Rojo
                </button>
                <button type="button" class="btn btn-lg btn-dark" id="btnHabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',1,'SEMAFORO2.Comando')">
                    Apagado
                </button>

            </div>
        </div>
                                <hr />
    }
</div>