﻿@model Entidades.DATO_WORDINT

@{
    ViewBag.Title = "Sensor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sensor</h2>
<script src="~/Scripts/Comandos.js"></script>
<div class="modal-content">

    <div class="modal-body text-center">
        <div id="EstadoSENSOR" style="font-size:xx-large">
            Sector: @Model.ID_SECTOR
            PLC: @Model.FK_PLC
        </div>

        <hr />
        <div id="Habilitacion">
            <b>
                <label class="label" style="font-size:xx-large">Habilitación</label>
            </b>
            <div id="botonesHabilitacion">
                <button type="button" class="btn btn-lg btn-success" id="btnHabilitar:" onclick="EjecutarComando('@Model.ID_SECTOR',1,'S_LECTURA_RFID.Estado')">
                    Habilitar
                </button>
                <button type="button" class="btn btn-lg btn-danger" id="btnDeshabilitar:" onclick="EjecutarComando('@Model.ID_SECTOR',0,'S_LECTURA_RFID.Estado')">
                    Deshabilitar
                </button>
            </div>
        </div>
        <hr />

    </div>

</div>