﻿
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Usuario: " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link text-white", @style = "border-right:1px solid #FFFFFF" })
            </li>
            @{
                if (Context.User.IsInRole("Supervisor"))
                {
                    <li>@Html.ActionLink("Registrar Usuario", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link text-white", @style = "border-right:1px solid #FFFFFF" })</li>
                }
            }
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link text-white">Cerrar sesión</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @{
            if (User.IsInRole("Administrador"))
            {
                <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link text-white", @style = "border-right:1px solid #FFFFFF" })</li>
            }
        }
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link text-white" })</li>
    </ul>
            }
