﻿@*@model Entidades.CONTROL_ACCESO*@
@{
    ViewBag.Title = "Principal";
}

<div id="mapaDinamico" >
    @Html.Action("mapa", "Home")
</div>


<script type="text/javascript">
    window.onload = function sum() {
        setInterval(function () {
            $.get("/Home/mapa").done(function (data){

                    $("#mapaDinamico").html(data);
               
            });
            return false;
        }, 5000);

    };
</script>