﻿
<div class="jumbotron">
    <table class="table-responsive">
        <tr>
            <td><img src="~/Content/img/mapa/44.png" /></td>
            <td><img src="~/Content/img/mapa/43.png" /></td>
            @if (ViewBag.T1 == "ALERTA")
            {
                <td style="background-color:red" ><img onclick="location.href='@Url.Action("Control", "ControlAcceso", new { idControl =100 })'" src="~/Content/img/mapa/42.png" title="T1" name="T100"  /></td>
            }
            else
            {
                <td><img src="~/Content/img/mapa/42.png" title="T1" /></td>
            }
            <td><img src="~/Content/img/mapa/41.png" /></td>
            <td><img src="~/Content/img/mapa/40.png" /></td>
            <td><img src="~/Content/img/mapa/39.png" /></td>
            <td><img src="~/Content/img/mapa/38.png" /></td>
            <td><img src="~/Content/img/mapa/37.png" /></td>
            <td><img src="~/Content/img/mapa/36.png" /></td>
            <td><img src="~/Content/img/mapa/35.png" /></td>
            <td><img src="~/Content/img/mapa/34.png" /></td>
        </tr>
        <tr>

            <td><img src="~/Content/img/mapa/33.png" /></td>
            <td><img src="~/Content/img/mapa/32.png" /></td>
            <td><img src="~/Content/img/mapa/31.png" /></td>
            @if (ViewBag.T2 == "ALERTA")
            {
                <td style="background-color:red" onclick="location.href='@Url.Action("Control", "ControlAcceso", new { idControl =200 })'"><img src="~/Content/img/mapa/30.png" name="T200" /></td>
            }
            else
            {
                <td><img src="~/Content/img/mapa/30.png" title="T2" /></td>
            }
            <td><img src="~/Content/img/mapa/29.png" /></td>
            <td><img src="~/Content/img/mapa/28.png" /></td>
            <td><img src="~/Content/img/mapa/27.png" /></td>
            <td><img src="~/Content/img/mapa/26.png" /></td>
            <td><img src="~/Content/img/mapa/25.png" /></td>
            <td><img src="~/Content/img/mapa/24.png" /></td>
            <td><img src="~/Content/img/mapa/23.png" /></td>
        </tr>
        <tr>

            <td><img src="~/Content/img/mapa/22.png" /></td>
            <td><img src="~/Content/img/mapa/21.png" /></td>
            <td><img src="~/Content/img/mapa/20.png" /></td>
            <td><img src="~/Content/img/mapa/19.png" /></td>
            <td><img src="~/Content/img/mapa/18.png" /></td>
            <td><img src="~/Content/img/mapa/17.png" /></td>
            <td><img src="~/Content/img/mapa/16.png" /></td>
            @if (ViewBag.T7 == "ALERTA")
            {
                <td style="background-color:red"><img onclick="location.href='@Url.Action("Control", "ControlAcceso", new { idControl =700 })'"  src="~/Content/img/mapa/15.png" name="T700" /></td>
            }
            else
            {
                <td><img src="~/Content/img/mapa/15.png" title="T7" /></td>
            }
            <td><img src="~/Content/img/mapa/14.png" /></td>
            @if (ViewBag.T12 == "ALERTA")
            {
                <td style="background-color:red"><img onclick="location.href='@Url.Action("Control", "ControlAcceso", new { idControl =1200 })'"  src="~/Content/img/mapa/13.png" title="T12" name="T1200" /></td>
            }
            else
            {
                <td><img src="~/Content/img/mapa/13.png" title="T12" /></td>
            }
            <td><img src="~/Content/img/mapa/12.png" /></td>
        </tr>
        <tr>

            <td><img src="~/Content/img/mapa/11.png" /></td>
            <td><img src="~/Content/img/mapa/10.png" /></td>
            <td><img src="~/Content/img/mapa/9.png" /></td>
            <td><img src="~/Content/img/mapa/8.png" /></td>
            <td><img src="~/Content/img/mapa/7.png" /></td>
            @if (ViewBag.T4 == "ALERTA")
            {
                <td style="background-color:red"><img onclick="location.href='@Url.Action("Control", "ControlAcceso", new { idControl =400 })'"  src="~/Content/img/mapa/6.png" title="T4" name="T400" /></td>
            }
            else
            {
                <td><img src="~/Content/img/mapa/6.png" title="T4" /></td>
            }

            <td><img src="~/Content/img/mapa/5.png" /></td>
            <td><img src="~/Content/img/mapa/4.png" /></td>
            <td><img src="~/Content/img/mapa/3.png" /></td>
            <td><img src="~/Content/img/mapa/2.png" /></td>
            <td><img src="~/Content/img/mapa/1.png" /></td>
        </tr>
        <tr>

            <td><img src="~/Content/img/mapa/45.png" /></td>
            @if (ViewBag.T3 == "ALERTA")
            {
                <td style="background-color:red"><img onclick="location.href='@Url.Action("Control", "ControlAcceso", new { idControl =300 })'"  src="~/Content/img/mapa/46.png" title="T3" name="T300" /></td>
            }
            else
            {
                <td><img src="~/Content/img/mapa/46.png" title="T3" /></td>
            }
            <td><img src="~/Content/img/mapa/47.png" /></td>
            <td><img src="~/Content/img/mapa/48.png" /></td>
            <td><img src="~/Content/img/mapa/49.png" /></td>
            <td><img src="~/Content/img/mapa/50.png" /></td>
            <td><img src="~/Content/img/mapa/51.png" /></td>
            @if (ViewBag.T5 == "ALERTA")
            {
                <td style="background-color:red"><img onclick="location.href='@Url.Action("Control", "ControlAcceso", new { idControl =500 })'"  src="~/Content/img/mapa/52.png" title="T5" name="T500" /></td>
            }
            else
            {
                <td><img src="~/Content/img/mapa/52.png" title="T5" /></td>
            }

            @if (ViewBag.T6 == "ALERTA")
            {
                <td style="background-color:red"><img onclick="location.href='@Url.Action("Control", "ControlAcceso", new { idControl =600 })'"  src="~/Content/img/mapa/53.png" title="T6" name="T600" /></td>
            }
            else
            {
                <td><img src="~/Content/img/mapa/53.png" title="T6" /></td>
            }

            @if (ViewBag.T8 == "ALERTA")
            {
                <td style="background-color:red"><img  onclick="location.href='@Url.Action("Control", "ControlAcceso", new { idControl =800 })'"  src="~/Content/img/mapa/54.png" title="T8" name="T800" /></td>
            }
            else
            {
                <td><img src="~/Content/img/mapa/54.png" /></td>
            }


            @if (ViewBag.T9 == "ALERTA")
            {
                <td style="background-color:red"><img onclick="location.href='@Url.Action("Control", "ControlAcceso", new { idControl =900 })'"  src="~/Content/img/mapa/55.png" title="T9" name="T900" /></td>
            }
            else
            {
                <td><img src="~/Content/img/mapa/55.png" title="T10" /></td>
            }
        </tr>
    </table>
</div>
<script type="text/javascript">

    function parpadeo() {

            for (var i = 100; i < 1300; i= i +100) {
                var imagenDinamismo = document.images["T" + i.toString()];
                if (imagenDinamismo != null) { imagenDinamismo.style.opacity = (imagenDinamismo.style.opacity == "1") ? "0.5" : "1"; }
            }
   
        }
        setInterval("parpadeo()", 1000);
     
</script>

