﻿@model Entidades.LECTOR_RFID

@{
    ViewBag.Title = "Editar Lector RFID";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Entidades.CONFIG_LECTOR_RFID oConfig = ViewBag.oConfig;
    List<Entidades.ANTENAS_RFID> ListAntena = ViewBag.ListAntena;
}


<script type="text/javascript">
    function Volver(val) {

        window.open("../../ControlAcceso/Control?idControl="+ val,'_blank');
        window.close();
    }
</script>

<div class="border rounded" style="padding:5px;background-color:whitesmoke">
    <h2>
        <button class="btn btn-dark float-right" data-toggle="modal" data-target="#ayudaModal">
            <i style="font-size:2rem;" class="fa fa-question-circle"></i>
        </button>
        Lector RFID
    </h2>
    <hr />

    <div id="@(Model.ID_LECTOR_RFID.ToString() + "LectorRFID")">
        <table class="table table-bordered" id="@(Model.ID_LECTOR_RFID.ToString()+ "TablaLectorRFID")" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Conexión
                    </th>
                    <th>
                        Lectura
                    </th>
                    <th>
                        Antenas
                    </th>
                    <th>
                        Tipo Lectura
                    </th>


                </tr>
            </thead>
            <tbody>
                <tr id="@(Model.ID_LECTOR_RFID.ToString() + "EstadoLectura")">
                    @Html.Action("EstadoLector", "LECTOR_RFID", new { idSector = Model.ID_LECTOR_RFID })

                </tr>

            </tbody>
        </table>
    </div>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <form>
            @Html.HiddenFor(model => model.ID_LECTOR_RFID)

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="nombreLector">Nombre</label>
                    @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
                    @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>IP</label>
                    @Html.EditorFor(model => model.IP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IP, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Modelo</label>
                    @Html.DropDownList("ID_MODELO_LECTOR", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_MODELO_LECTOR, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Tipo de lectura</label>
                    @Html.DropDownList("TIPO_LECTURA", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TIPO_LECTURA, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-4">
                    <label>Tiempo de lectura</label>
                    @Html.EditorFor(model => model.TIEMPO_LECTURA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TIEMPO_LECTURA, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Control Acceso</label>
                    @Html.DropDownList("ID_CONTROL_ACCESO", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_CONTROL_ACCESO, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-2" style="padding-top:40px;">
                    @{
                        if (Convert.ToBoolean(Model.AUTO_CONECTARSE))
                        {
                            @Html.CheckBox("AUTO_CONECTARSE", true)
                        }
                        else
                        {
                            @Html.CheckBox("AUTO_CONECTARSE", false)
                        }
                    }
                    <label class="form-check-label" for="AUTO_CONECTARSE">
                        Auto conectarse
                    </label>
                </div>
                <div class="form-group col-md-2" style="padding-top:40px;">
                    @{
                        if (Convert.ToBoolean(Model.AUTO_START))
                        {
                            @Html.CheckBox("AUTO_START", true)
                        }
                        else
                        {
                            @Html.CheckBox("AUTO_START", false)
                        }
                    }
                    <label class="form-check-label" for="AUTO_START">
                        Auto start
                    </label>
                </div>
            </div>

            <button type="submit" class="btn btn-success">
                Guardar
            </button>

            <button class="btn btn-dark text-center" onclick="Volver(@Model.ID_CONTROL_ACCESO);">Volver</button>
            <hr />

            <h5>Configuración</h5>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Reader Mode
                            </th>
                            <th>
                                Search Mode
                            </th>
                            <th>
                                Session
                            </th>
                            <th>
                                Report Mode
                            </th>
                            <th>
                                Rsssi
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @oConfig.NOMBRE
                            </td>
                            <td>
                                @{
                                    switch (oConfig.SELECT_READER_MODE)
                                    {
                                        case 0:
                                            <div>
                                                Max Throughput
                                            </div>
                                            break;
                                        case 1:
                                            <div>
                                                Hybrid
                                            </div>
                                            break;
                                        case 2:
                                            <div>
                                                Dense Reader M4
                                            </div>
                                            break;
                                        case 3:
                                            <div>
                                                Dense Reader M8
                                            </div>
                                            break;
                                        case 4:
                                            <div>
                                                Max Miller
                                            </div>
                                            break;
                                        case 1000:
                                            <div>
                                                Auto Set Dense Reader
                                            </div>
                                            break;
                                        case 1001:
                                            <div>
                                                Auto Set Single Reader
                                            </div>
                                            break;
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    switch (oConfig.SELECT_SEARCH)
                                    {
                                        case 0:
                                            <div>
                                                Reader Selected
                                            </div>
                                            break;
                                        case 1:
                                            <div>
                                                Single Target
                                            </div>
                                            break;
                                        case 2:
                                            <div>
                                                Dual Target
                                            </div>
                                            break;
                                        case 3:
                                            <div>
                                                Tag Focus
                                            </div>
                                            break;
                                        case 4:
                                            <div>
                                                Single Target With Suppression
                                            </div>
                                            break;
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    switch (oConfig.SELECT_SESSION)
                                    {
                                        case 0:
                                            <div>
                                                Session 0
                                            </div>
                                            break;
                                        case 1:
                                            <div>
                                                Session 1
                                            </div>
                                            break;
                                        case 2:
                                            <div>
                                                Session 2
                                            </div>
                                            break;
                                        case 3:
                                            <div>
                                                Session 3
                                            </div>
                                            break;
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    switch (oConfig.SELECT_REPORT_MODE)
                                    {
                                        case 0:
                                            break;
                                        <div>
                                            Wait For Query
                                        </div>
                                        case 1:
                                            <div>
                                                Individual
                                            </div>
                                            break;
                                        case 2:
                                            <div>
                                                Individual Unbuffered
                                            </div>
                                            break;
                                        case 3:
                                            <div>
                                                Batch After Stop
                                            </div>
                                            break;
                                    }
                                }
                            </td>
                            <td>
                                @oConfig.RSSI
                            </td>
                            <td width="5%">
                                @Html.ActionLink("Configurar", "Edit", "CONFIG_LECTOR_RFID", new { id = oConfig.ID_CONF_LECTOR_RFID }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <hr />

            <h5>Antenas</h5>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Num. de Antena
                            </th>
                            <th>
                                txPower
                            </th>
                            <th>
                                rxSensitivity
                            </th>
                            <th>
                                Observación
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @{
                                foreach (Entidades.ANTENAS_RFID antena in ListAntena)
                                {
                                    <td>
                                        @antena.NUM_ANTENA
                                    </td>
                                    <td>
                                        @antena.TX_POWER
                                    </td>
                                    <td>
                                        @antena.RX_SENSITIVITY
                                    </td>
                                    <td>
                                        @antena.OBSERVACION
                                    </td>
                                    <td width="5%">
                                        @Html.ActionLink("Configurar", "Edit", "ANTENAS_RFID", new { numAntena = antena.NUM_ANTENA, idConfiguracion = antena.ID_CONF_LECTOR_RFID, idLectorRFID = Model.ID_LECTOR_RFID }, new { @class = "btn btn-primary" })
                                    </td>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
            </div>




        </form>

    }
    <br />
    <div class="row text-center" style="display:block">
        <button class="btn btn-lg btn-dark text-center" id="" onclick="window.history.go(-1);">Volver</button>
    </div>
    
</div>

<!-- Modal -->
<div class="modal fade" id="ayudaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">AYUDA LECTOR RFID</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <p  style="font-size:0.8rem;" >RFID DESCONECTADO</p>             
                        <img  height="250" src="~/Content/img/Controles/Antena/1.png" />
                    </div>
                    <div class="col-md-3">
                        <p style="font-size:0.8rem;">RFID SIN LECTURA</p>
                        <img height="250" src="~/Content/img/Controles/Antena/0.png" />
                    </div>
                    <div class="col-md-3">
                        <p style="font-size:0.8rem;">RFID <BR />LEYENDO</p>
                        <img height="250" src="~/Content/img/Controles/Antena/2.png" />
                    </div>
                    <div class="col-md-3">
                        <p style="font-size:0.8rem;">RFID LEYENDO TAG</p>
                        <img height="250" src="~/Content/img/Controles/Antena/3.png" />
                    </div>
                 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

