﻿@model Entidades.LECTOR_RFID




@{
    ViewBag.Title = "Estado Lector";
}

<td>
   @Model.ID_LECTOR_RFID - @Model.NOMBRE
</td>
<td class="font-weight-bold">
    @{
        string estado = "";
        switch (Model.CONECTADO)
        {
            case 0://desconectado
                estado = "Desconectado";
                <font color="red">
                    @estado
                </font>
                break;
            case 1://conectado sin lectura
            case 2://conectado leyendo
            case 3://sin configuracion
                estado = "Conectado";
                <font color="green">
                    @estado
                </font>
                break;
        }
    }
    
</td>
<td>
    @{
        string estadoLectura = "";
        switch (Model.LEYENDO)
        {
            case 0://conectado sin lectura
                estadoLectura = "Sin lectura";
                break;
            case 1://conectado leyendo
                estadoLectura = "Leyendo";
                break;
            case 2://sin configuracion
                estadoLectura = "Sin configuración";
                break;
        }
    }
    @estadoLectura
</td>
<td>
    @Model.NOMBRE
</td>
<td>
    @{
        string tipoLectura = "";
        switch ((int)Model.TIPO_LECTURA)
        {

            case 1://conectado leyendo
                tipoLectura = "Lectura Constante";
                break;
            case 2://conectado sin lectura
                tipoLectura = "Corte Espira";
                break;
        }
    }
    @tipoLectura
</td>
@*<td>
    <a href="@Url.Action("Editar", "LECTOR_RFID", new { id = Model.ID_LECTOR_RFID })" class="btn btn-xs btn-primary" title="Editar">Lector</a>
    @Html.ActionLink("LectorRFID", "ConfigurarLectorRFID", "Lectores_RFID", new { idControlAcceso = 10})
</td>*@

