﻿@model IEnumerable<Entidades.AUDITORIA>

@{
    ViewBag.Title = "Auditorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Auditorias</h2>





@using (Html.BeginForm(null, null, FormMethod.Get))
{

                <div class="box-body chart-responsive">
 
                    @Html.Label("Sectores:")

                    @Html.DropDownList("Sector", (SelectList)ViewData["ListSector"], "", new {  @class = "form-control  select2", style = "width:300px" })
                    <br />
                    

                    @Html.Label("Desde fecha:")
                    @Html.TextBox("desFec", @ViewData["fechaDesde"], new { @class = "datepicker", @type = "date" })
                    &nbsp; &nbsp;
                    @Html.Label("Hasta fecha:")
                    @Html.TextBox("hastFec", @ViewData["fechaHasta"], new { @class = "datepicker", @type = "date" })
           

                    @Html.Label("Descripción:")

                    @Html.Editor("Descripcion")
                    &nbsp; &nbsp;&nbsp;
                    <input type="submit" value="Filtrar" name="nombreBoton" class="btn btn-primary" />
                </div>


}
<br />
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayName("Descripcion")
        </th>
        <th>
            @Html.DisplayName("Fecha")
        </th>
        <th>
            @Html.DisplayName("Usuario")
        </th>

        <th>
            @Html.DisplayName("Tag RFID")
        </th>
        <th>
            @Html.DisplayName("Transaccion")
        </th>

        <th>
            @Html.DisplayName("Sector")
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TAG_RFID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TRANSACCION)
        </td>

        <td>
            
            @Html.DisplayFor(modelItem =>  item.ID_SECTOR)-@Html.DisplayFor(modelItem => item.SECTOR.NOMBRE)
        </td>

    </tr>
}

</table>
