﻿@model Entidades.SECTOR

<div id="@Model.ID_SECTOR">
    <h5>@Model.DESCRIPCION</h5>
</div>

<div class="table-responsive" style="display:block;overflow-x:auto;white-space:nowrap;">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <img src="~/Content/img/Controles/Espira/@(ViewBag.EstadoS_Lect).png" class="h-50 d-inline-block" />
                </td>
                <td>
                    <img src="~/Content/img/Controles/Barrera/@(ViewBag.EstadoBar1).png" class="h-50 d-inline-block" />
                </td>
                <td>
                    <img src="~/Content/img/Controles/Sensor/@(ViewBag.EstadoS1_Bar).png" class="h-50 d-inline-block" />
                </td>
                <td>
                    <img src="~/Content/img/Controles/Sensor/@(ViewBag.EstadoS1_Pos).png" class="h-50 d-inline-block" />
                </td>
                <td style="vertical-align: bottom;display: table-cell;">
                    <img src="~/Content/img/Controles/Balanza/Balanza.png" class="h-50 d-inline-block" />
                </td>
                <td>
                    <img src="~/Content/img/Controles/Sensor/@(ViewBag.EstadoS2_Pos).png" class="h-50 d-inline-block" />
                </td>
                <td>
                    <img src="~/Content/img/Controles/Barrera/@(ViewBag.EstadoBar2).png" class="h-50 d-inline-block" />
                </td>
                <td>
                    <img src="~/Content/img/Controles/Sensor/@(ViewBag.EstadoS2_Bar).png" class="h-50 d-inline-block" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<script>

</script>
