﻿@model Entidades.SECTOR

@if (ViewBag.estadoSemaforo2 != "NULL" || ViewBag.estadoSemaforo1 != "NULL")
{
    <div class="column">

        <div class="modal" id="ModalSEMAFOROS" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" id="DescripcionSemaforos">
                        <b>
                            SEMAFOROS
                        </b>
                    </div>
                    <div class="modal-body text-center">
                        <div id="EstadoSEMAFOROS">
                            @*@Html.Action("Sensor", "ControlesAcceso", new { tag = "S1_BARRERA", idSector = 10 })*@
                        </div>
                        Sector: @Model.ID_SECTOR
                        -
                        PLC: 1
                        @if (ViewBag.estadoSemaforo1 != "NULL")
                        {
                            <hr />
                            <div id="Habilitacion">
                                <b>
                                    <label class="label">Comandos Semaforo 1 </label>
                                </b>
                                <div id="botonesHabilitacion">
                                    <button type="button" class="btn btn-success" id="btnHabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',1,'SEMAFORO1.Comando')">
                                        Verde
                                    </button>
                                    <button type="button" class="btn btn-danger" id="btnDeshabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',2,'SEMAFORO1.Comando')">
                                        Rojo
                                    </button>
                                    <button type="button" class="btn btn-dark" id="btnHabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',1,'SEMAFORO1.Comando')">
                                        Apagado
                                    </button>

                                </div>
                            </div>
                            <hr />
                        }
                        @if (ViewBag.estadoSemaforo2 != "NULL")
                        {
                            <hr />

                            <div id="Habilitacion">
                                <b>
                                    <label class="label">Comandos Semaforo 2 </label>
                                </b>
                                <div id="botonesHabilitacion">
                                    <button type="button" class="btn btn-success" id="btnHabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',1,'SEMAFORO2.Comando')">
                                        Verde
                                    </button>
                                    <button type="button" class="btn btn-danger" id="btnDeshabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',2,'SEMAFORO2.Comando')">
                                        Rojo
                                    </button>
                                    <button type="button" class="btn btn-dark" id="btnHabilitar" onclick="EjecutarComando('@Model.ID_SECTOR',1,'SEMAFORO2.Comando')">
                                        Apagado
                                    </button>

                                </div>
                            </div>
                            <hr />
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cerrarModal()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" id="btnSEMAFOROS" data-toggle="modal" data-target="#ModalSEMAFOROS">
            SEMAFOROS
        </button>
    </div>

}

@if (ViewBag.estadoSensor != "NULL")
{
    <div class="column">
        <div class="modal" id="ModalSENSOR" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" id="DescripcionSensor">
                        <b>
                            SENSOR
                        </b>
                    </div>
                    <div class="modal-body text-center">
                        <div id="EstadoSENSOR">
                            @*@Html.Action("Sensor", "ControlesAcceso", new { tag = "S1_BARRERA", idSector = 10 })*@
                        </div>
                        Sector: @Model.ID_SECTOR
                        -
                        PLC: 1
                        <hr />
                        <div id="Habilitacion">
                            <b>
                                <label class="label">Habilitación</label>
                            </b>
                            <div id="botonesHabilitacion">
                                <button type="button" class="btn btn-success" id="btnHabilitar:" onclick="EjecutarComando('@Model.ID_SECTOR',1,'S_LECTURA_RFID.Estado')">
                                    Habilitar
                                </button>
                                <button type="button" class="btn btn-danger" id="btnDeshabilitar:" onclick="EjecutarComando('@Model.ID_SECTOR',0,'S_LECTURA_RFID.Estado')">
                                    Deshabilitar
                                </button>
                            </div>
                        </div>
                        <hr />
                        <div id="TiempoRetardo" class="text-center">
                            <label class="label">Tiempo de retardo: </label>
                            <input type="number" class="input-sm text-center" id="TiempoRetardoSENSOR" />
                            <br />
                            <button class="btn btn-dark text-center" id="btnCambioTiempoRetardoSENSOR">Aceptar</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cerrarModal()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" id="btnSENSOR" data-toggle="modal" data-target="#ModalSENSOR">
            SENSOR
        </button>
    </div>
}
@if (ViewBag.estadoBarrera != "NULL")
{
    <div class="column">

        <!-- Modal content-->
        <div class="modal" id="modalBARRERA" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" id="DescripcionBarrera1">
                        <b>
                            BARRERA
                        </b>
                    </div>
                    <div class="modal-body text-center">
                        <div id="EstadoBarrera1">
                            @*     @Html.Action("Barrera", "ControlesAcceso", new { tag = "BARRERA1", idSector = 10 })*@
                        </div>
                        Sector: @Model.ID_SECTOR
                        -
                        PLC: 0
                        <hr />
                        <div id="ComandosBarrera1">
                            <b>
                                Comandos
                            </b>
                            <br />
                            <br />
                            <div id="btnComandoBarrera1">
                                <div id="btnAutDes">
                                    <button type="button" class="btn btn-success" id="btnAutomatico:" onclick="EjecutarComando('@Model.ID_SECTOR',2,'BARRERA.Comando')">
                                        Automático
                                    </button>
                                    <button type="button" class="btn btn-danger" id="btnDeshabilitar:" onclick="EjecutarComando('@Model.ID_SECTOR',1,'BARRERA.Comando')">
                                        Deshabilitar
                                    </button>
                                </div>
                                <br />
                                <div id="btnSubirBajar1">
                                    <button type="button" class="btn btn-outline-dark" id="btnSubirBarrera:" onclick="EjecutarComando('@Model.ID_SECTOR',3,'BARRERA.Comando')">
                                        <i class="fa fa-fw fa-arrow-up"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-dark" id="btnBajarBarrera:" onclick="EjecutarComando('@Model.ID_SECTOR',4,'BARRERA.Comando')">
                                        <i class="fa fa-fw fa-arrow-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cerrarModal()">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" id="btnBARRERA" data-toggle="modal" data-target="#modalBARRERA">
            BARRERA
        </button>
    </div>
}
<div class="column">




    <div class="modal" id="modalAyudaSensBarr" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" id="DescripcionBarrera">
                    <b>
                        Ayuda
                    </b>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="text-center">
                                    Sensores
                                </div>
                                <div class="font-weight-normal">
                                    <div>
                                        <button type="button" class="btn">SENSOR</button> Deshab.
                                    </div>
                                    <br />
                                    <div>
                                        <button type="button" class="btn btn-danger">SENSOR</button> Con presencia.
                                    </div>
                                    <br />
                                    <div>
                                        <button type="button" class="btn btn-success">SENSOR</button> Sin presencia.
                                    </div>
                                    <br />
                                    <div>
                                        <button type="button" class="btn btn-warning">SENSOR</button> Falla.
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm">
                                <div class="text-center">
                                    Barreras
                                </div>
                                <div class="font-weight-normal">
                                    <div>
                                        <button type="button" class="btn">BARRERA</button> Deshab.
                                    </div>
                                    <br />
                                    <div>
                                        <button type="button" class="btn btn-primary">BARRERA</button> Autom.
                                    </div>
                                    <br />
                                    <div>
                                        <button type="button" class="btn btn-success">BARRERA</button> Manual.
                                    </div>
                                    <br />
                                    <div>
                                        <button type="button" class="btn btn-warning">BARRERA</button> Falla.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cerrarModal()">Cerrar</button>
                </div>

            </div>
        </div>
    </div>

    <button class="btn btn-primary" id="btnAyudaSenBarr" data-toggle="modal" data-target="#modalAyudaSensBarr">
        <i class="fa fa-fw fa-question"></i>
    </button>

</div>