﻿@using AxControlWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = null;
}




<!DOCTYPE HTML>
<html lang="es">

<head>
    <title>AxControl - Aumax</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
  
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
   
    <link href="~/Content/latest_login_form-web_Free/web/css/style.css" rel="stylesheet" media="all" />
    <link href="~/Content/latest_login_form-web_Free/web/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <div class="main-bg">
        <!-- title -->
        <h1>AxControl</h1>
        <!-- //title -->
        <!-- content -->
        <div class="sub-main-w3">
            <div class="bg-content-w3pvt">
                <div class="top-content-style">
                    @*<img src="images/user.jpg" alt="" />*@
                    <img src="~/Content/latest_login_form-web_Free/web/images/user2.jpg" />
                </div>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p class="legend">Inicie sesión<span class="fa fa-hand-o-down"></span></p>
                    <div class="input">
                        <input type="text" placeholder="usuario" name="username" required />
                        <span class="fa fa-user"></span>
                    </div>
                    <div class="input">
                        <input type="password" placeholder="contraseña" name="password" required />
                        <span class="fa fa-unlock"></span>
                    </div>
                    <button type="submit" class="btn submit">
                        <span class="fa fa-sign-in"> </span>
                    </button>
                }
                <a href="@Url.Action("ForgotPassword")" class="bottom-text-w3ls">¿Olvidaste la contraseña?</a>
            </div>
        </div>
        <!-- //content -->
        <!-- copyright -->
        <div class="copyright">
            <h2>
                &copy; 2019 Desarrollado por
                <br />
                <a href="http://aumax.com.ar" target="_blank">
                    <img src="~/Content/latest_login_form-web_Free/web/images/Logos-Aumax.png" />
                </a>
            </h2>
        </div>
        <!-- //copyright -->
    </div>
</body>

</html>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}